# Dataset

In [ ]:
# Any resource URL goes here
# https://geomap.ffiec.gov/FFIECGeocMap/GeocodeMap1.aspx
# https://www2.census.gov/geo/pdfs/education/CensusTracts.pdf
# APIKEY_FRED: 81a919ab9e54b7a8f3c05291f03ec4fa
# APIKEY_GEOCODIO: 465444ca4191d191d9d65ede4afef5619af9e91
# https://geocoding.geo.census.gov/geocoder/Geocoding_Services_API.pdf
# https://www2.census.gov/geo/pdfs/maps-data/data/FAQ_for_Census_Bureau_Public_Geocoder.pdf
# https://www.geeksforgeeks.org/get-the-city-state-and-country-names-from-latitude-and-longitude-using-python/

In [ ]:
# All install goes here
!pip install openpyxl==3.0.0
!pip install geopandas
!pip install pygeocodio
!pip install censusgeocode
!pip install folium
!pip install mapclassify
!pip install xlrd==1.2.0

Collecting openpyxl==3.0.0
  Downloading openpyxl-3.0.0.tar.gz (172 kB)
     |████████████████████████████████| 172 kB 26.2 MB/s
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: et_xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl==3.0.0) (1.1.0)
Building wheels for collected packages: openpyxl
  Building wheel for openpyxl (setup.py) ... done
  Created wheel for openpyxl: filename=openpyxl-3.0.0-py2.py3-none-any.whl size=241207 sha256=13eb93bdc033c870621b8fd88dea3ee59577f476058903dc494f261994e5e80d
  Stored in directory: /root/.cache/pip/wheels/c7/64/ff/ce98f6e1d2701ae8e216c875da62feed2839ac8a3cae0ab8af
Successfully built openpyxl
Installing collected packages: jdcal, openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.0.9
    Uninstalling openpyxl-3.0.9:
      Successfully uninstalled openpyxl-3.0.9
Successfully installed jdcal-1.4.1 openpyxl-3.0.0
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 20.5 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.1.post1)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 48.3 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 56.1 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1
Collecting pygeocodio
  Downloading pygeocodio-1.0.1-py3-none-any.whl (10 kB)
Requirement already satisfied: requests>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from pygeocodio) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=1.0.0->pygeocodio) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=1.0.0->pygeocodio) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=1.0.0->pygeocodio) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=1.0.0->pygeocodio) (3.0.4)
Installing collected packages: pygeocodio
Successfully installed pygeocodio-1.0.1
Collecting censusgeocode
  Downloading censusgeocode-0.5.2-py3-none-any.whl (9.2 kB)
Collecting requests[security]<3,>=2.27.0
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.7 MB/s
Collecting requests-toolbelt<1,>=0.9.0
  Downloading requests_toolbelt-0.9.1-py2.py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 3.0 MB/s
Requirement already satisfied: requests<3.0.0,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from requests-toolbelt<1,>=0.9.0->censusgeocode) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.1->requests-toolbelt<1,>=0.9.0->censusgeocode) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.1->requests-toolbelt<1,>=0.9.0->censusgeocode) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.1->requests-toolbelt<1,>=0.9.0->censusgeocode) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.0.1->requests-toolbelt<1,>=0.9.0->censusgeocode) (3.0.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests[security]<3,>=2.27.0->censusgeocode) (2.0.12)
Installing collected packages: requests, requests-toolbelt, censusgeocode
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed censusgeocode-0.5.2 requests-2.27.1 requests-toolbelt-0.9.1
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.21.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.27.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (2.0.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2021.10.8)
Collecting mapclassify
  Downloading mapclassify-2.4.3-py3-none-any.whl (38 kB)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from mapclassify) (1.0.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from mapclassify) (2.6.3)
Requirement already satisfied: numpy>=1.3 in /usr/local/lib/python3.7/dist-packages (from mapclassify) (1.21.5)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from mapclassify) (1.4.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from mapclassify) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->mapclassify) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->mapclassify) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->mapclassify) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->mapclassify) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->mapclassify) (3.1.0)
Installing collected packages: mapclassify
Successfully installed mapclassify-2.4.3
Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 21.3 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-1.2.0

In [ ]:
# All import goes here
import pandas as pd
import urllib.request
import os
import geopandas
import matplotlib.pyplot as plt
from geocodio import GeocodioClient
import requests
import censusgeocode as cg
import json
from google.colab import drive
import zipfile
import matplotlib.pyplot as plt
import geopy.distance
import re
import glob
import numpy as np
pd.__version__

'1.3.5'

In [ ]:
# Download files if the runtime resets
url_list = [
    # Your own link to download files
]
for url in url_list:
  urllib.request.urlretrieve(url, f'./{os.path.basename(url)}')

In [ ]:
raise Exception("You do not have to run the code below. Go to the line where it has read_csv(df_combined.csv)")

Exception: ignored

In [ ]:
# df_sw_ = pd.read_excel("PropertyDataSouthWest.xlsx")
# df_fl_ = pd.read_excel("FloridaPropertyData.xlsx")
# df_we_ = pd.read_excel("PropertyDataWestern.xlsx")
# df_se_ = pd.read_excel("SouthEastPropertyData.xlsx")
# df_so_ = pd.read_excel("SouthPropertyData.xlsx")
# df_combined_ = pd.concat([df_sw_, df_fl_, df_we_, df_se_, df_so_], ignore_index=True)

In [ ]:
# df_combined = df_combined_.copy()

In [ ]:
# df_combined.describe()

In [ ]:
# df_combined["PROPERTY_STUDENTHOUSING"].value_counts()

In [ ]:
# df_combined["PROPERTY_AFFORDABLEHOUSING"].value_counts()

In [ ]:
# df_combined["PROPERTY_MILITARYHOUSING"].value_counts()

In [ ]:
# df_combined["PROPERTY_AGERESTRICTED"].value_counts()

In [ ]:
# df_combined["PROPERTY_FRACTUREDCONDO"].value_counts()

In [ ]:
# remove the row if the property belongs to one of the categories below.
# df_combined = df_combined.drop(df_combined[(df_combined['PROPERTY_STUDENTHOUSING'] == "A") | (df_combined['PROPERTY_STUDENTHOUSING'] == "P")].index)
# print(len(df_combined))
# df_combined = df_combined.drop(df_combined[(df_combined['PROPERTY_AFFORDABLEHOUSING'] == "A") | (df_combined['PROPERTY_AFFORDABLEHOUSING'] == "P")].index)
# print(len(df_combined))
# df_combined = df_combined.drop(df_combined[(df_combined['PROPERTY_MILITARYHOUSING'] == "A") | (df_combined['PROPERTY_MILITARYHOUSING'] == "P")].index)
# print(len(df_combined))
# df_combined = df_combined.drop(df_combined[(df_combined['PROPERTY_AGERESTRICTED'] == "A") | (df_combined['PROPERTY_AGERESTRICTED'] == "P")].index)
# print(len(df_combined))
# df_combined = df_combined.drop(df_combined[(df_combined['PROPERTY_FRACTUREDCONDO'] == "A") | (df_combined['PROPERTY_FRACTUREDCONDO'] == "P")].index)
# print(len(df_combined))

In [ ]:
# We are dropping unnecessary columns
# columns_to_drop = [
#                    "PROPERTY_STUDENTHOUSING",
#                    "PROPERTY_AFFORDABLEHOUSING",
#                    "PROPERTY_MILITARYHOUSING",
#                    "PROPERTY_AGERESTRICTED",
#                    "PROPERTY_FRACTUREDCONDO",
#                    "PROPERTY_ADAPTIVEREUSE",
#                    "PROPERTY_SINGLEFAMILYRENTAL"
#                   # filter data by these 2 columns, or just drop these columns? -YS
# ]
# df_combined = df_combined.drop(columns_to_drop, axis=1)
# df_combined.columns

In [ ]:
# add age_of_the_property feature
# df_combined["today"] = pd.Timestamp('2022-01-31')
# df_combined["PROPERTY_DATECOMPLETED"] = df_combined["PROPERTY_DATECOMPLETED"].fillna(pd.Timestamp('2022-01-31'))
# df_combined["PROPERTY_DATECOMPLETED"] = pd.to_datetime(df_combined["PROPERTY_DATECOMPLETED"])
# df_combined["age_of_the_property"] = df_combined["today"] - df_combined["PROPERTY_DATECOMPLETED"]

In [ ]:
# df_combined.tail()

In [ ]:
# df_combined.describe()

In [ ]:
# Creating census tract code. Comment it
# drive.mount('/content/drive')
# with open('./drive/MyDrive/coordinates_tract_mapper.json') as json_file:
#     coordinate_dict = json.load(json_file)
# print(len(coordinate_dict))
# cnt = 1
# for index, row in df_combined.iterrows():
#     cnt += 1
#     key = f"{row['PROPERTY_LONGITUDE']}, {row['PROPERTY_LATITUDE']}"
#     if key in coordinate_dict:
#       continue
#     try:
#       result = cg.coordinates(x=row['PROPERTY_LONGITUDE'], y=row['PROPERTY_LATITUDE'])
#       val = result["Census Tracts"][0]["TRACT"]
#     except:
#       print(f"error: {key}")
#       continue
#     coordinate_dict[key] = val
#     if cnt % 100 == 0:
#       with open("./drive/MyDrive/coordinates_tract_mapper.json", "w") as outfile:
#         json.dump(coordinate_dict, outfile)
# with open("./drive/MyDrive/coordinates_tract_mapper.json", "w") as outfile:
#   json.dump(coordinate_dict, outfile)

In [ ]:
# Creating county, state code. Comment it
# with open('./states_mapper.json') as json_file:
#     states_dict = json.load(json_file)
# with open('./state_county_mapper.json') as json_file:
#     states_county_dict = json.load(json_file)
# df_fips = pd.read_csv("fips_county_mod.csv")
# df_fips["county_modified"] = df_fips['county_modified'].str.lower()
# for index, row in df_combined.iterrows():
#     if (row["PROPERTY_STATE"] in states_county_dict) and (row["COUNTY_NAME"] in states_county_dict):
#       continue
#     state_county_code = str(df_fips.loc[
#                                   (df_fips["state_name"] == states_dict[row["PROPERTY_STATE"]]) &
#                                   (df_fips["county_modified"] == (row["COUNTY_NAME"] + " County").lower()),
#                                     ["fips_code"]
#                                   ].iloc[0,0])
#     state_code = state_county_code[:-3]
#     county_code = state_county_code[-3:]
#     if len(state_code) == 1:
#       state_code = "0" + state_code
#     states_county_dict[row["PROPERTY_STATE"]] = state_code
#     states_county_dict[row["COUNTY_NAME"]] = county_code
# with open("state_county_mapper.json", "w") as outfile:
#     json.dump(states_county_dict, outfile)

In [ ]:
# adding census tract based on coordinates
# with open('./coordinates_tract_mapper.json') as json_file:
#     coordinate_dict = json.load(json_file)
# def label_census_tract(row):
#   key = f"{row['PROPERTY_LONGITUDE']}, {row['PROPERTY_LATITUDE']}"
#   val = coordinate_dict[key]
#   list_val = list(val)
#   list_val.insert(-2, ".")
#   return "".join(list_val)
# df_combined = df_combined[df_combined["PROPERTY_LONGITUDE"].notna()]
# df_combined["census_tract"] = df_combined.apply(lambda row: label_census_tract(row), axis=1)
# df_combined

In [ ]:
# Add county code and state code
# with open('./state_county_mapper.json') as json_file:
#     states_county_dict = json.load(json_file)
# def label_county_code(row):
#   return states_county_dict[row["COUNTY_NAME"]]
# def label_state_code(row):
#   return states_county_dict[row["PROPERTY_STATE"]]
# df_combined["state_code"] = df_combined.apply(lambda row: label_state_code(row), axis=1)
# df_combined["county_code"] = df_combined.apply(lambda row: label_county_code(row), axis=1)
# df_combined

In [ ]:
# Here, we make separate dataFrame for planned or prospective buildings.
# This job must be done before removing any rows with invalid rent values.
# The dataFrame will be used to predict the future supply of the real estate market
# df_combined["PROPERTY_STATUS"].value_counts()
# df_future_supply = df_combined.loc[(df_combined['PROPERTY_STATUS'] == 'Prospective') | 
#                                    (df_combined['PROPERTY_STATUS'] == 'Planned') | 
#                                    (df_combined['PROPERTY_STATUS'] == 'Under Construction') |
#                                    (df_combined['PROPERTY_STATUS'].isna()
#                                    )]
# df_combined = df_combined.loc[~((df_combined['PROPERTY_STATUS'] == 'Prospective') | 
#                                    (df_combined['PROPERTY_STATUS'] == 'Planned') | 
#                                    (df_combined['PROPERTY_STATUS'] == 'Under Construction') |
#                                    (df_combined['PROPERTY_STATUS'].isna()
#                                    ))]
# df_future_supply.to_csv("df_future_supply.csv")

In [ ]:
# def remove_na_from_df(df, column_name):
#   a = df[column_name].isna().sum()
#   df = df[df[column_name].notna()]
#   b = df[column_name].isna().sum()
#   print(f"removed {a-b} rows from the dataFrame. DataFrame length: {len(df)}")
#   return df

In [ ]:
# def remove_zero_from_df(df, column_name):
#   a = df[column_name].astype(bool).sum(axis=0)
#   df = df[df[column_name] != 0]
#   b = df[column_name].astype(bool).sum(axis=0)
#   print(f"removed {a-b} rows from the dataFrame. DataFrame length: {len(df)}")
#   return df

In [ ]:
# remove property_current_rent with NA
# df_combined = remove_na_from_df(df_combined, "PROPERTY_CURRENT_RENT")

In [ ]:
# remove property_current_rent with 0
# df_combined = remove_zero_from_df(df_combined, "PROPERTY_CURRENT_RENT")

In [ ]:
# remove PROPERTY_UNITS with NA
# df_combined = remove_na_from_df(df_combined, "PROPERTY_UNITS")

In [ ]:
# remove PROPERTY_UNITS with 0
# df_combined = remove_zero_from_df(df_combined, "PROPERTY_UNITS")

In [ ]:
# remove PROPERTY_SQFT with NA
# df_combined = remove_na_from_df(df_combined, "PROPERTY_SQFT")

In [ ]:
# remove PROPERTY_SQFT with 0
# df_combined = remove_zero_from_df(df_combined, "PROPERTY_SQFT")

In [ ]:
# Add a column name "rent_per_sqft"
# df_combined["rent_per_sqft"] = df_combined["PROPERTY_UNITS"] * df_combined["PROPERTY_CURRENT_RENT"] / df_combined["PROPERTY_SQFT"]
# df_combined["rent_per_sqft"]

In [ ]:
# drive.mount('/content/drive')
# df_sb = pd.read_csv("starbucks_data.csv", encoding="Latin1")
# df_sb=df_sb.rename(columns={"lat": "SB_LATITUDE", "lon": "SB_LONGITUDE"})
# df_sb=df_sb.drop(columns= ['id', 'name', 'brandname', 'phonenumber', 'street2','street3', 'timezoneoffset','timezoneid', 'starbucksid',
#                   'ownershiptype','storenumber','timezoneolsonid','source_longitude','source_latitude'])
# df_sb = df_sb.loc[(df_sb['countrysubdivisioncode'] == 'TX')|
#                (df_sb['countrysubdivisioncode'] == 'NM')|
#                (df_sb['countrysubdivisioncode'] == 'OK')|
#                (df_sb['countrysubdivisioncode'] == 'FL')|
#                (df_sb['countrysubdivisioncode'] == 'AZ')|
#                (df_sb['countrysubdivisioncode'] == 'CO')|
#                (df_sb['countrysubdivisioncode'] == 'NV')|
#                (df_sb['countrysubdivisioncode'] == 'UT')|
#                (df_sb['countrysubdivisioncode'] == 'ID')|
#               (df_sb['countrysubdivisioncode'] == 'WY')|
#        (df_sb['countrysubdivisioncode'] == 'MT')|
#        (df_sb['countrysubdivisioncode'] == 'GA')|
#        (df_sb['countrysubdivisioncode'] == 'NC')|
#        (df_sb['countrysubdivisioncode'] == 'SC')|
#        (df_sb['countrysubdivisioncode'] == 'AL')|
#        (df_sb['countrysubdivisioncode'] == 'AR')|
#        (df_sb['countrysubdivisioncode'] == 'TN')|
#        (df_sb['countrysubdivisioncode'] == 'KY')|
#        (df_sb['countrysubdivisioncode'] == 'IN')|
#        (df_sb['countrysubdivisioncode'] == 'LA')|
#        (df_sb['countrysubdivisioncode'] == 'MS')
#        ]
# # First filter by State in order to optimize assigning value.
# def locations_nearby(row):
#   prop_lat, prop_long = row["PROPERTY_LATITUDE"],row["PROPERTY_LONGITUDE"]
#   coords_1 = (prop_lat,prop_long)
#   number = 0
#   for index, row in df_sb[df_sb["countrysubdivisioncode"]==row["PROPERTY_STATE"]].iterrows():
#     st_lat, st_long = row["SB_LATITUDE"], row["SB_LONGITUDE"]
#     coords_2 = (st_lat, st_long)
#     distance = geopy.distance.geodesic(coords_1, coords_2).mi
#     if distance <= 1:
#       number += 1
#   return number
# for i in range(0, len(df_combined), 1000):
#   df_temp = df_combined.iloc[i:i+1000,:].copy()
#   df_temp["starbucks_within_om"] = df_temp.apply(lambda row: locations_nearby(row), axis=1)
#   df_temp.to_csv(f"./drive/MyDrive/df_temp_{i}_{i+1000}.csv")

In [ ]:
# # Starting dataFrame. df_combined has all the ETL we have done in the past
data_type_mapping = {"SUBMARKET_CODE": "object", "PROPERTY_ZIPCODE": "object", "PROPERTY_PHONE": "object", "census_tract": "object", "county_code": "object",
                     "state_code": "object"}
df_combined_old = pd.read_csv("df_combined.csv", dtype=data_type_mapping)
df_combined_old = df_combined_old[["PROPERTY_ID", "census_tract"]]
df_combined = pd.read_csv("df_combined_target.csv", dtype=data_type_mapping)
df_combined = df_combined.merge(df_combined_old, how="left", on="PROPERTY_ID")
df_combined["census_tract"] = df_combined["census_tract_y"]
df_combined = df_combined.drop(["census_tract_x", "census_tract_y"], axis=1)

# # df_future_supply has all the property that were to be built in the future. 
df_future_supply = pd.read_csv("df_future_supply.csv", dtype=data_type_mapping)

# # Drop unnecessary columns
df_combined = df_combined.drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1)
df_future_supply = df_future_supply.drop(["Unnamed: 0"], axis=1)


def update_census_tract(row):
  census_tract = row["census_tract"]
  pattern = re.compile("^\d{4}\.\d{2}$")
  ct_list = census_tract.split(".")
  if pattern.match(census_tract):
    return ct_list[0] + ct_list[-1]
  
  if len(ct_list[0]) < 4:
    prefix = "0" * (4 - len(ct_list[0])) + ct_list[0]
  else:
    prefix = ct_list[0]
  
  if len(ct_list[-1]) < 2:
    suffix = ct_list[-1] + "0" * (2 - len(ct_list[-1]))
  else:
    suffix = ct_list[-1]
  return prefix + suffix

def update_county_code(row):
  county_code = row["county_code"]
  pattern = re.compile("^\d{3}$")
  if pattern.match(county_code):
    return county_code
  if len(county_code) < 3:
    county_code = "0" * (3 - len(county_code)) + county_code
    return county_code

def update_state_code(row):
  state_code = row["state_code"]
  pattern = re.compile("^\d{2}$")
  if pattern.match(state_code):
    return state_code
  if len(state_code) < 2:
    state_code = "0" * (2 - len(state_code)) + state_code
    return state_code

def update_age_of_the_property(row):
    age_of_the_property = row["age_of_the_property"]
    return age_of_the_property.split(" ")[0]

df_combined["census_tract"] = df_combined.apply(lambda row: update_census_tract(row), axis=1)
df_combined["county_code"] = df_combined.apply(lambda row: update_county_code(row), axis=1)
df_combined["state_code"] = df_combined.apply(lambda row: update_state_code(row), axis=1)
# df_combined["age_of_the_property"] = df_combined.apply(lambda row: update_age_of_the_property(row), axis=1)

df_future_supply["census_tract"] = df_future_supply.apply(lambda row: update_census_tract(row), axis=1)
df_future_supply["county_code"] = df_future_supply.apply(lambda row: update_county_code(row), axis=1)
df_future_supply["state_code"] = df_future_supply.apply(lambda row: update_state_code(row), axis=1)

# # Sanity check, no rows should show. 
print(df_combined[~df_combined.census_tract.str.match("^\d{6}$")])
print(df_combined[~df_combined.county_code.str.match("^\d{3}$")])
print(df_combined[~df_combined.state_code.str.match("^\d{2}$")])

Empty DataFrame
Columns: [PROPERTY_ID, MARKETID, MARKET_NAME, SUBMARKET_CODE, SUBMARKET_NAME, COUNTY_NAME, PROPERTY_NAME, PROPERTY_PRIORNAMES, PROPERTY_ADDRESS, PROPERTY_CITY, PROPERTY_STATE, PROPERTY_ZIPCODE, PROPERTY_LATITUDE, PROPERTY_LONGITUDE, PROPERTY_PHONE, PROPERTY_UNITS, PROPERTY_SQFT, PROPERTY_ACRES, PROPERTY_IMPRATING, PROPERTY_LOCRATING, PROPERTY_STATUS, PROPERTY_DATE_PLANNED, PROPERTY_DATE_UNDERCONSTRUCTION, PROPERTY_DATE_RENTUP, PROPERTY_DATECOMPLETED, PROPERTY_MIXEDUSE, PROPERTY_MIXEDUSE_NOTES, PROPERTY_ADAPTIVEREUSE, PROPERTY_SINGLEFAMILYRENTAL, PROPERTY_CURRENT_OCCUPANCY, PROPERTY_CURRENT_RENT, PROPERTY_MATRIX_URL, today, age_of_the_property, state_code, county_code, rent_per_sqft, starbucks_within_om, census_tract_id, target_within_tm, census_tract]
Index: []

[0 rows x 41 columns]
Empty DataFrame
Columns: [PROPERTY_ID, MARKETID, MARKET_NAME, SUBMARKET_CODE, SUBMARKET_NAME, COUNTY_NAME, PROPERTY_NAME, PROPERTY_PRIORNAMES, PROPERTY_ADDRESS, PROPERTY_CITY, PROPERTY_STATE, PROPERTY_ZIPCODE, PROPERTY_LATITUDE, PROPERTY_LONGITUDE, PROPERTY_PHONE, PROPERTY_UNITS, PROPERTY_SQFT, PROPERTY_ACRES, PROPERTY_IMPRATING, PROPERTY_LOCRATING, PROPERTY_STATUS, PROPERTY_DATE_PLANNED, PROPERTY_DATE_UNDERCONSTRUCTION, PROPERTY_DATE_RENTUP, PROPERTY_DATECOMPLETED, PROPERTY_MIXEDUSE, PROPERTY_MIXEDUSE_NOTES, PROPERTY_ADAPTIVEREUSE, PROPERTY_SINGLEFAMILYRENTAL, PROPERTY_CURRENT_OCCUPANCY, PROPERTY_CURRENT_RENT, PROPERTY_MATRIX_URL, today, age_of_the_property, state_code, county_code, rent_per_sqft, starbucks_within_om, census_tract_id, target_within_tm, census_tract]
Index: []

[0 rows x 41 columns]
Empty DataFrame
Columns: [PROPERTY_ID, MARKETID, MARKET_NAME, SUBMARKET_CODE, SUBMARKET_NAME, COUNTY_NAME, PROPERTY_NAME, PROPERTY_PRIORNAMES, PROPERTY_ADDRESS, PROPERTY_CITY, PROPERTY_STATE, PROPERTY_ZIPCODE, PROPERTY_LATITUDE, PROPERTY_LONGITUDE, PROPERTY_PHONE, PROPERTY_UNITS, PROPERTY_SQFT, PROPERTY_ACRES, PROPERTY_IMPRATING, PROPERTY_LOCRATING, PROPERTY_STATUS, PROPERTY_DATE_PLANNED, PROPERTY_DATE_UNDERCONSTRUCTION, PROPERTY_DATE_RENTUP, PROPERTY_DATECOMPLETED, PROPERTY_MIXEDUSE, PROPERTY_MIXEDUSE_NOTES, PROPERTY_ADAPTIVEREUSE, PROPERTY_SINGLEFAMILYRENTAL, PROPERTY_CURRENT_OCCUPANCY, PROPERTY_CURRENT_RENT, PROPERTY_MATRIX_URL, today, age_of_the_property, state_code, county_code, rent_per_sqft, starbucks_within_om, census_tract_id, target_within_tm, census_tract]
Index: []

[0 rows x 41 columns]

In [ ]:
df_combined

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,PROPERTY_MATRIX_URL,today,age_of_the_property,state_code,county_code,rent_per_sqft,starbucks_within_om,census_tract_id,target_within_tm,census_tract
0,89_328,89,El Paso,7.0,Northwest El Paso,El Paso,Desert Peaks,"Shadow Mountain Villas, Village 1 & 2",140 Shadow Mountain Drive,El Paso,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,20484,48,041,1.126551,1,48041001110,2,001110
1,89_356,89,El Paso,7.0,Northwest El Paso,El Paso,Overlook,Argonaut Heights,213 Argonaut Heights Drive,El Paso,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,17562,48,041,0.939346,0,48041001111,2,001111
2,89_357,89,El Paso,5.0,East El Paso,El Paso,Camino Real,NaN,2801 North Yarbrough Drive,El Paso,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,18658,48,041,0.750316,0,48041004311,3,004311
3,89_37,89,El Paso,4.0,Northeast El Paso,El Paso,Mountain Vista,NaN,5757 Will Ruth Avenue,El Paso,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,5144,48,041,1.320055,0,48041000205,2,000205
4,89_374,89,El Paso,5.0,East El Paso,El Paso,Three Palms,NaN,12949 Eastbrook,El Paso,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,3166,48,041,1.181479,0,48041010358,2,010358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23894,104_992,104,Knoxville,1.0,Knoxville - Downtown,Knox,Marble Alley Lofts,NaN,300 State Street,Knoxville,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,2005,47,093,2.098270,2,47093000100,3,000100
23895,116_10,116,New Orleans,4.0,French Quarter,Orleans Parish,"Paramount, The",NaN,611 O'Keefe Avenue,New Orleans,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,2709,22,071,2.442058,9,22071013400,2,013400
23896,116_102,116,New Orleans,19.0,New Orleans East,Orleans Parish,Orwood Creek,Carriage House,10151 Curran Road,New Orleans,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,20849,22,071,0.834819,0,22071001737,0,001737
23897,116_110,116,New Orleans,16.0,Algiers,Orleans Parish,Jackson's Landing North,Newport,3501 Garden Oaks Drive,New Orleans,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,16101,22,071,0.906067,0,22071000619,1,000619
23898,116_117,116,New Orleans,11.0,Metairie,Jefferson Parish,Crossings,NaN,2200 Severn Avenue,Metairie,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,17562,22,051,1.475027,2,22051028800,3,028800

In [ ]:
df_combined['zip code'] = df_combined['PROPERTY_ZIPCODE'].str[:5]
df_combined['zip code'] # leave zip code as string

0        79912
1        79912
2        79925
3        79924
4        79938
         ...
23894    37902
23895    70113
23896    70127
23897    70114
23898    70001
Name: zip code, Length: 23899, dtype: object

In [ ]:
# create census_tract_id for grouping purpose.
df_combined["census_tract_id"] = df_combined["state_code"].astype(str) + df_combined["county_code"].astype(str) + df_combined["census_tract"].astype(str)
df_combined["census_tract_id"]
df_future_supply["census_tract_id"] = df_future_supply["state_code"].astype(str) + df_future_supply["county_code"].astype(str) + df_future_supply["census_tract"].astype(str)
df_future_supply["census_tract_id"]

0       48453046300
1       48021950700
2       48453000309
3       48453001307
4       48021045800
           ...
6536    05007020405
6537    05007020607
6538    05007021315
6539    05007021315
6540    47179061404
Name: census_tract_id, Length: 6541, dtype: object

In [ ]:
df_combined.head()

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,today,age_of_the_property,state_code,county_code,rent_per_sqft,starbucks_within_om,census_tract_id,target_within_tm,census_tract,zip code
0,89_328,89,El Paso,7.0,Northwest El Paso,El Paso,Desert Peaks,"Shadow Mountain Villas, Village 1 & 2",140 Shadow Mountain Drive,El Paso,...,2022-01-31,20484,48,041,1.126551,1,48041001110,2,001110,79912
1,89_356,89,El Paso,7.0,Northwest El Paso,El Paso,Overlook,Argonaut Heights,213 Argonaut Heights Drive,El Paso,...,2022-01-31,17562,48,041,0.939346,0,48041001111,2,001111,79912
2,89_357,89,El Paso,5.0,East El Paso,El Paso,Camino Real,NaN,2801 North Yarbrough Drive,El Paso,...,2022-01-31,18658,48,041,0.750316,0,48041004311,3,004311,79925
3,89_37,89,El Paso,4.0,Northeast El Paso,El Paso,Mountain Vista,NaN,5757 Will Ruth Avenue,El Paso,...,2022-01-31,5144,48,041,1.320055,0,48041000205,2,000205,79924
4,89_374,89,El Paso,5.0,East El Paso,El Paso,Three Palms,NaN,12949 Eastbrook,El Paso,...,2022-01-31,3166,48,041,1.181479,0,48041010358,2,010358,79938

In [ ]:
# df_future_supply_grouped = df_future_supply.groupby("census_tract_id").size().reset_index(name='counts')
# df_future_supply_grouped

In [ ]:
# df_combined_grouped_1 = df_combined_grouped.copy()
# df_combined_grouped_1 = df_combined_grouped.merge(df_future_supply_grouped, how="left", on="census_tract_id")
# df_combined_grouped_1['competitors'] = df_combined_grouped_1['counts'].fillna(0)
# df_combined_grouped_1 = df_combined_grouped_1.drop(["counts"], axis=1)
# df_combined_grouped_1

In [ ]:
base_url = "https://api.census.gov/data/2020/dec/pl"

# Specify Census 
get_vars = [
            "NAME",  # variable codes go here and below
            "P1_001N"
]
predicates = {}
predicates["get"] = ",".join(get_vars)
predicates["for"] = "tract:*" # select all tracts
predicates["in"] = "state:48,35,40,12,04,08,32,49,16,56,30,13,37,45,01,05,47,21,18,22,28" # list the relevant states of interest (no space after commas)

# Execute the request, examine text of response object
r = requests.get(base_url, params=predicates)

# 	DP03_0002PE : Percent!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force
col_names = ['Name', 
             'Total Population',
             'state',
             'county',
             'tract'
]
# function to convert json output to dataframe for clean output
def json_to_dataframe(response):
    return pd.DataFrame(response.json()[1:], columns=col_names)
df_population = json_to_dataframe(r)

for i in col_names: # set the columns from type string to type int
  if i == "state" or "county" or "tract":
    continue
  if i != "Name":
    df_population[i] = df_population[i].astype(float)
df_population["census_tract_id"] = df_population["state"].astype(str) + df_population["county"].astype(str) + df_population["tract"].astype(str)
df_population

,Name,Total Population,state,county,tract,census_tract_id
0,"Census Tract 9702, Hidalgo County, New Mexico",2266,35,023,970200,35023970200
1,"Census Tract 1, Lea County, New Mexico",3013,35,025,000100,35025000100
2,"Census Tract 2, Lea County, New Mexico",3778,35,025,000200,35025000200
3,"Census Tract 3, Lea County, New Mexico",4150,35,025,000300,35025000300
4,"Census Tract 4, Lea County, New Mexico",3593,35,025,000400,35025000400
...,...,...,...,...,...,...
35530,"Census Tract 47.38, Bernalillo County, New Mexico",6932,35,001,004738,35001004738
35531,"Census Tract 47.39, Bernalillo County, New Mexico",6554,35,001,004739,35001004739
35532,"Census Tract 47.42, Bernalillo County, New Mexico",6119,35,001,004742,35001004742
35533,"Census Tract 47.43, Bernalillo County, New Mexico",4027,35,001,004743,35001004743
35534,"Census Tract 47.44, Bernalillo County, New Mexico",7711,35,001,004744,35001004744

In [ ]:
base_url = 'http://api.census.gov/data/2019/acs/acs5'
# Specify Census variables and other predicates
get_vars = ["NAME",  # variable codes go here and below
            # "B01003_001E", # total population
            "B06009_001E", # total pop in education data
            "B06009_002E", # total pop < high school education
            "B06009_003E", # Total pop high school graduate
            "B06009_004E", # Total pop w/ some college or associates
            "B06009_005E", # Total pop w/ bachelors
            "B06009_006E", # Total pop w/ grad degree
            "B13002_001E", # Total women 15 TO 50y who birthed in last 12m'
            'B19001_001E',  # Total number of households in household income data'
            'B19001_002E', # household income bracket variables start here
            'B19001_003E',
            'B19001_004E',
            'B19001_005E',
            'B19001_006E',
            'B19001_007E',
            'B19001_008E', 
            'B19001_009E',
            'B19001_010E',
            'B19001_011E',
            'B19001_012E',
            'B19001_013E',
            'B19001_014E',
            'B19001_015E',
            'B19001_016E',
            'B19001_017E',
            'B25002_001E', # total housing units
            'B25002_002E', # total occupied units
            'B25002_003E', # total vacant units
            'B25064_001E', # median gross rent
            'B08303_001E', # travel time to work in min (intervals start here)
            'B08303_002E',
            'B08303_003E',
            'B08303_004E',
            'B08303_005E',
            'B08303_006E',
            'B08303_007E',
            'B08303_008E',
            'B08303_009E',
            'B08303_010E',
            'B08303_011E',
            'B08303_012E',
            'B08303_013E' 
]
predicates = {}
predicates["get"] = ",".join(get_vars)
predicates["for"] = "tract:*" # select all tracts
predicates["in"] = "state:48,35,40,12,04,08,32,49,16,56,30,13,37,45,01,05,47,21,18,22,28" # list the relevant states of interest (no space after commas)

# Execute the request, examine text of response object
r = requests.get(base_url, params=predicates)

# 	DP03_0002PE : Percent!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force
col_names = ['Name', 
            #  'Total Population',
             'Total pop in education data',
             'Total pop < high school',
             'Total pop high school graduate',
             'Total pop w/ some college or associates',
             'Total pop w/ bachelors',
             'Total pop w/ grad degree',
             'Total women 15 TO 50y who birthed in last 12m',
             'Total number of households in household income data',
             'Total with household income <$10k', # all household income data for past 12m
             'Total with household income $10-15k',
             'Total with household income $15-20k',
             'Total with household income $20-25k',
             'Total with household income $25-30k',
             'Total with household income $30-35k',
             'Total with household income $35-40k',
             'Total with household income $40-45k',
             'Total with household income $45-50k',
             'Total with household income $50-60k',
             'Total with household income $60-75k',
             'Total with household income $75-100k',
             'Total with household income $100-125k',
             'Total with household income $125-150k',
             'Total with household income $150-200k',
             'Total with household income $200k+',
             'Total housing units',
             'Total occupied units',
             'Total vacant units',
             'Median gross rent',
             'Total # people in travel time to work data',
             'Travel time to work: <5 min',
             'Travel time to work: 5-9 min',
             'Travel time to work: 10-14 min',
             'Travel time to work: 15-19 min',
             'Travel time to work: 20-24 min',
             'Travel time to work: 25-29 min',
             'Travel time to work: 30-34 min',
             'Travel time to work: 35-39 min',
             'Travel time to work: 40-44 min',
             'Travel time to work: 45-59 min',
             'Travel time to work: 60-89 min',
             'Travel time to work: 90+ min',
             'state',
             'county',
             'tract'
]

        

# function to convert json output to dataframe for clean output
def json_to_dataframe(response):
    return pd.DataFrame(response.json()[1:], columns=col_names)
df_census_tract = json_to_dataframe(r)

for i in col_names: # set the columns from type string to type int
  if i == "state" or "county" or "tract":
    continue
  if i != "Name":
    df_census_tract[i] = df_census_tract[i].astype(float)
df_census_tract["census_tract_id"] = df_census_tract["state"].astype(str) + df_census_tract["county"].astype(str) + df_census_tract["tract"].astype(str)
df_census_tract

,Name,Total pop in education data,Total pop < high school,Total pop high school graduate,Total pop w/ some college or associates,Total pop w/ bachelors,Total pop w/ grad degree,Total women 15 TO 50y who birthed in last 12m,Total number of households in household income data,Total with household income <$10k,...,Travel time to work: 30-34 min,Travel time to work: 35-39 min,Travel time to work: 40-44 min,Travel time to work: 45-59 min,Travel time to work: 60-89 min,Travel time to work: 90+ min,state,county,tract,census_tract_id
0,"Census Tract 9707, Bonneville County, Idaho",3485,502,1323,1222,318,120,1115,1920,153,...,147,0,15,59,103,46,16,019,970700,16019970700
1,"Census Tract 9701, Camas County, Idaho",732,49,316,248,66,53,172,394,19,...,17,19,33,59,92,57,16,025,970100,16025970100
2,"Census Tract 217, Canyon County, Idaho",7363,1475,2157,2816,611,304,2783,3822,151,...,339,51,235,396,176,59,16,027,021700,16027021700
3,"Census Tract 207, Canyon County, Idaho",2701,220,612,1234,446,189,855,1410,26,...,491,10,38,61,11,14,16,027,020700,16027020700
4,"Census Tract 221, Canyon County, Idaho",3408,722,1102,1073,341,170,1098,1837,96,...,140,34,85,315,114,74,16,027,022100,16027022100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28870,"Census Tract 6, Chaves County, New Mexico",3098,1195,834,696,350,23,1142,1430,121,...,69,0,0,33,32,78,35,005,000600,35005000600
28871,"Census Tract 7, Chaves County, New Mexico",2791,719,730,1034,223,85,1080,1657,108,...,135,0,30,35,55,66,35,005,000700,35005000700
28872,"Census Tract 8, Chaves County, New Mexico",3557,529,1215,975,516,322,1462,2136,187,...,125,0,88,104,147,155,35,005,000800,35005000800
28873,"Census Tract 5, Chaves County, New Mexico",1144,307,349,441,44,3,393,766,74,...,45,0,2,21,0,7,35,005,000500,35005000500
28874,"Census Tract 3, Lea County, New Mexico",2267,1207,606,358,96,0,835,1225,208,...,66,0,0,45,114,132,35,025,000300,35025000300

In [ ]:
# df_combined_grouped_2 = df_combined_grouped_1.copy()
# df_combined_grouped_2 = df_combined_grouped_2.merge(df_census_tract, how="left", on="census_tract_id")
# df_combined_grouped_2 = df_combined_grouped_2.drop(["state", "county", "tract", "Name"], axis=1)
# df_combined_grouped_2

In [ ]:
df_combined = df_combined.merge(df_census_tract, how="left", on="census_tract_id")
df_combined = df_combined.drop(["state", "county", "tract", "Name"], axis=1)
df_combined

,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,...,Travel time to work: 10-14 min,Travel time to work: 15-19 min,Travel time to work: 20-24 min,Travel time to work: 25-29 min,Travel time to work: 30-34 min,Travel time to work: 35-39 min,Travel time to work: 40-44 min,Travel time to work: 45-59 min,Travel time to work: 60-89 min,Travel time to work: 90+ min
0,89_328,89,El Paso,7.0,Northwest El Paso,El Paso,Desert Peaks,"Shadow Mountain Villas, Village 1 & 2",140 Shadow Mountain Drive,El Paso,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,89_356,89,El Paso,7.0,Northwest El Paso,El Paso,Overlook,Argonaut Heights,213 Argonaut Heights Drive,El Paso,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,89_357,89,El Paso,5.0,East El Paso,El Paso,Camino Real,NaN,2801 North Yarbrough Drive,El Paso,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,89_37,89,El Paso,4.0,Northeast El Paso,El Paso,Mountain Vista,NaN,5757 Will Ruth Avenue,El Paso,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,89_374,89,El Paso,5.0,East El Paso,El Paso,Three Palms,NaN,12949 Eastbrook,El Paso,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23894,104_992,104,Knoxville,1.0,Knoxville - Downtown,Knox,Marble Alley Lofts,NaN,300 State Street,Knoxville,...,227,240,190,160,72,32,32,84,0,11
23895,116_10,116,New Orleans,4.0,French Quarter,Orleans Parish,"Paramount, The",NaN,611 O'Keefe Avenue,New Orleans,...,528,283,182,99,55,56,30,22,43,13
23896,116_102,116,New Orleans,19.0,New Orleans East,Orleans Parish,Orwood Creek,Carriage House,10151 Curran Road,New Orleans,...,136,61,244,140,396,102,67,99,105,14
23897,116_110,116,New Orleans,16.0,Algiers,Orleans Parish,Jackson's Landing North,Newport,3501 Garden Oaks Drive,New Orleans,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23898,116_117,116,New Orleans,11.0,Metairie,Jefferson Parish,Crossings,NaN,2200 Severn Avenue,Metairie,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# fill out population
def fill_population(row):
  if row["total_population"] == 0:
    state = row["census_tract_id"][0:2] # statecens
    county = row["census_tract_id"][2:5] # county
    temp_df = df_population.loc[((df_population["state"]==state) & (df_population['county']==county)),  "Total Population"]
    if len(temp_df) == 0:
        temp_df = df_population.loc[df_population["state"]==state,  "Total Population"]
    population = temp_df.astype(int).mean()
    return population
  else:
    return row["total_population"]

df_combined_grouped_3 = df_combined.copy()
df_combined_grouped_3 = df_combined_grouped_3.merge(df_population, how="left", on="census_tract_id", suffixes=("", "_delete"))
df_combined_grouped_3["total_population"] = df_combined_grouped_3["Total Population"]
df_combined_grouped_3 = df_combined_grouped_3.drop(["Name", 'state', 'county', 'tract', "Total Population"], axis=1)
df_combined_grouped_3["total_population"] = df_combined_grouped_3["total_population"].fillna(0)
df_combined_grouped_3["total_population"] = df_combined_grouped_3.apply(lambda row: fill_population(row), axis=1)
df_combined_grouped_3.loc[df_combined_grouped_3["total_population"].isna()]

Empty DataFrame
Columns: [PROPERTY_ID, MARKETID, MARKET_NAME, SUBMARKET_CODE, SUBMARKET_NAME, COUNTY_NAME, PROPERTY_NAME, PROPERTY_PRIORNAMES, PROPERTY_ADDRESS, PROPERTY_CITY, PROPERTY_STATE, PROPERTY_ZIPCODE, PROPERTY_LATITUDE, PROPERTY_LONGITUDE, PROPERTY_PHONE, PROPERTY_UNITS, PROPERTY_SQFT, PROPERTY_ACRES, PROPERTY_IMPRATING, PROPERTY_LOCRATING, PROPERTY_STATUS, PROPERTY_DATE_PLANNED, PROPERTY_DATE_UNDERCONSTRUCTION, PROPERTY_DATE_RENTUP, PROPERTY_DATECOMPLETED, PROPERTY_MIXEDUSE, PROPERTY_MIXEDUSE_NOTES, PROPERTY_ADAPTIVEREUSE, PROPERTY_SINGLEFAMILYRENTAL, PROPERTY_CURRENT_OCCUPANCY, PROPERTY_CURRENT_RENT, PROPERTY_MATRIX_URL, today, age_of_the_property, state_code, county_code, rent_per_sqft, starbucks_within_om, census_tract_id, target_within_tm, census_tract, zip code, Total pop in education data, Total pop < high school, Total pop high school graduate, Total pop w/ some college or associates, Total pop w/ bachelors, Total pop w/ grad degree, Total women 15 TO 50y who birthed in last 12m, Total number of households in household income data, Total with household income <$10k, Total with household income $10-15k, Total with household income $15-20k, Total with household income $20-25k, Total with household income $25-30k, Total with household income $30-35k, Total with household income $35-40k, Total with household income $40-45k, Total with household income $45-50k, Total with household income $50-60k, Total with household income $60-75k, Total with household income $75-100k, Total with household income $100-125k, Total with household income $125-150k, Total with household income $150-200k, Total with household income $200k+, Total housing units, Total occupied units, Total vacant units, Median gross rent, Total # people in travel time to work data, Travel time to work: <5 min, Travel time to work: 5-9 min, Travel time to work: 10-14 min, Travel time to work: 15-19 min, Travel time to work: 20-24 min, Travel time to work: 25-29 min, Travel time to work: 30-34 min, Travel time to work: 35-39 min, Travel time to work: 40-44 min, Travel time to work: 45-59 min, Travel time to work: 60-89 min, Travel time to work: 90+ min, total_population]
Index: []

[0 rows x 84 columns]

In [ ]:
df_combined_grouped_3[['census_tract_id']]

      census_tract_id
0         48041001110
1         48041001111
2         48041004311
3         48041000205
4         48041010358
...               ...
23894     47093000100
23895     22071013400
23896     22071001737
23897     22071000619
23898     22051028800

[23899 rows x 1 columns]

In [ ]:
column_names = df_combined_grouped_3.columns
missing_column_names = []
for column in column_names:
  temp_df = df_combined_grouped_3.loc[df_combined_grouped_3[column].isna()]
  if len(temp_df) > 0:
    missing_column_names.append(column)
missing_column_names

['SUBMARKET_CODE',
 'SUBMARKET_NAME',
 'PROPERTY_PRIORNAMES',
 'PROPERTY_ACRES',
 'PROPERTY_IMPRATING',
 'PROPERTY_LOCRATING',
 'PROPERTY_DATE_PLANNED',
 'PROPERTY_DATE_UNDERCONSTRUCTION',
 'PROPERTY_DATE_RENTUP',
 'PROPERTY_MIXEDUSE',
 'PROPERTY_MIXEDUSE_NOTES',
 'PROPERTY_ADAPTIVEREUSE',
 'PROPERTY_SINGLEFAMILYRENTAL',
 'PROPERTY_CURRENT_OCCUPANCY',
 'Total pop in education data',
 'Total pop < high school',
 'Total pop high school graduate',
 'Total pop w/ some college or associates',
 'Total pop w/ bachelors',
 'Total pop w/ grad degree',
 'Total women 15 TO 50y who birthed in last 12m',
 'Total number of households in household income data',
 'Total with household income <$10k',
 'Total with household income $10-15k',
 'Total with household income $15-20k',
 'Total with household income $20-25k',
 'Total with household income $25-30k',
 'Total with household income $30-35k',
 'Total with household income $35-40k',
 'Total with household income $40-45k',
 'Total with household income $45-50k',
 'Total with household income $50-60k',
 'Total with household income $60-75k',
 'Total with household income $75-100k',
 'Total with household income $100-125k',
 'Total with household income $125-150k',
 'Total with household income $150-200k',
 'Total with household income $200k+',
 'Total housing units',
 'Total occupied units',
 'Total vacant units',
 'Median gross rent',
 'Total # people in travel time to work data',
 'Travel time to work: <5 min',
 'Travel time to work: 5-9 min',
 'Travel time to work: 10-14 min',
 'Travel time to work: 15-19 min',
 'Travel time to work: 20-24 min',
 'Travel time to work: 25-29 min',
 'Travel time to work: 30-34 min',
 'Travel time to work: 35-39 min',
 'Travel time to work: 40-44 min',
 'Travel time to work: 45-59 min',
 'Travel time to work: 60-89 min',
 'Travel time to work: 90+ min']

In [ ]:
missing_column_names = ['Total pop in education data',
 'Total pop < high school',
 'Total pop high school graduate',
 'Total pop w/ some college or associates',
 'Total pop w/ bachelors',
 'Total pop w/ grad degree',
 'Total women 15 TO 50y who birthed in last 12m',
 'Total number of households in household income data',
 'Total with household income <$10k',
 'Total with household income $10-15k',
 'Total with household income $15-20k',
 'Total with household income $20-25k',
 'Total with household income $25-30k',
 'Total with household income $30-35k',
 'Total with household income $35-40k',
 'Total with household income $40-45k',
 'Total with household income $45-50k',
 'Total with household income $50-60k',
 'Total with household income $60-75k',
 'Total with household income $75-100k',
 'Total with household income $100-125k',
 'Total with household income $125-150k',
 'Total with household income $150-200k',
 'Total with household income $200k+',
 'Total housing units',
 'Total occupied units',
 'Total vacant units',
 'Median gross rent',
 'Total # people in travel time to work data',
 'Travel time to work: <5 min',
 'Travel time to work: 5-9 min',
 'Travel time to work: 10-14 min',
 'Travel time to work: 15-19 min',
 'Travel time to work: 20-24 min',
 'Travel time to work: 25-29 min',
 'Travel time to work: 30-34 min',
 'Travel time to work: 35-39 min',
 'Travel time to work: 40-44 min',
 'Travel time to work: 45-59 min',
 'Travel time to work: 60-89 min',
 'Travel time to work: 90+ min']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df_combined_grouped_3 = df_combined_grouped_3.drop(['SUBMARKET_CODE',
 'SUBMARKET_NAME',
 'PROPERTY_PRIORNAMES',
 'PROPERTY_ACRES',
 'PROPERTY_IMPRATING',
 'PROPERTY_LOCRATING',
 'PROPERTY_DATE_PLANNED',
 'PROPERTY_DATE_UNDERCONSTRUCTION',
 'PROPERTY_DATE_RENTUP',
 'PROPERTY_MIXEDUSE',
 'PROPERTY_MIXEDUSE_NOTES',
 'PROPERTY_ADAPTIVEREUSE',
 'PROPERTY_SINGLEFAMILYRENTAL',
 'PROPERTY_CURRENT_OCCUPANCY'], axis = 1)

In [ ]:
df_combined_grouped_3

,PROPERTY_ID,MARKETID,MARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_ADDRESS,PROPERTY_CITY,PROPERTY_STATE,PROPERTY_ZIPCODE,PROPERTY_LATITUDE,...,Travel time to work: 15-19 min,Travel time to work: 20-24 min,Travel time to work: 25-29 min,Travel time to work: 30-34 min,Travel time to work: 35-39 min,Travel time to work: 40-44 min,Travel time to work: 45-59 min,Travel time to work: 60-89 min,Travel time to work: 90+ min,total_population
0,89_328,89,El Paso,El Paso,Desert Peaks,140 Shadow Mountain Drive,El Paso,TX,79912.0,31.829729,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3711.888889
1,89_356,89,El Paso,El Paso,Overlook,213 Argonaut Heights Drive,El Paso,TX,79912.0,31.811390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3711.888889
2,89_357,89,El Paso,El Paso,Camino Real,2801 North Yarbrough Drive,El Paso,TX,79925.0,31.781474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3711.888889
3,89_37,89,El Paso,El Paso,Mountain Vista,5757 Will Ruth Avenue,El Paso,TX,79924.0,31.886572,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4486
4,89_374,89,El Paso,El Paso,Three Palms,12949 Eastbrook,El Paso,TX,79938.0,31.821640,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3711.888889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23894,104_992,104,Knoxville,Knox,Marble Alley Lofts,300 State Street,Knoxville,TN,37902.0,35.967200,...,240,190,160,72,32,32,84,0,11,2907
23895,116_10,116,New Orleans,Orleans Parish,"Paramount, The",611 O'Keefe Avenue,New Orleans,LA,70113.0,29.948683,...,283,182,99,55,56,30,22,43,13,4351
23896,116_102,116,New Orleans,Orleans Parish,Orwood Creek,10151 Curran Road,New Orleans,LA,70127.0,30.047655,...,61,244,140,396,102,67,99,105,14,3647
23897,116_110,116,New Orleans,Orleans Parish,Jackson's Landing North,3501 Garden Oaks Drive,New Orleans,LA,70114.0,29.920149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2123
23898,116_117,116,New Orleans,Jefferson Parish,Crossings,2200 Severn Avenue,Metairie,LA,70001.0,29.993633,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3963

In [ ]:
# %%time
df_combined_grouped_4 = df_combined_grouped_3.copy()
df_combined_grouped_4_temp = df_combined_grouped_3.copy()
for column in missing_column_names:
  df_combined_grouped_4[column] = df_combined_grouped_4[column].fillna(-1)
  print(column)
  for idx, row in df_combined_grouped_4.iterrows():
    if row[column] == -1:
      state_county = row["census_tract_id"][0:5] # state, county
      #print(state_county)
      temp_df = df_combined_grouped_4_temp.loc[((df_combined_grouped_4_temp["census_tract_id"].str[0:5]==state_county)), ["census_tract_id", 
                                                                                                                column, 
                                                                                                                "total_population"]]
      #print(temp_df)
      if len(temp_df) == 0:
        temp_df = df_combined_grouped_4_temp.loc[((df_combined_grouped_4_temp["census_tract_id"].str[0:2]==row["census_tract_id"][0:2])), ["census_tract_id", 
                                                                                                                column, 
                                                                                                                "total_population"]]
      # temp_df = temp_df.loc[temp_df["census_tract_id"] != row["census_tract_id"]]
      group_avg_pop = temp_df["total_population"].astype(float).mean()
      temp_df = temp_df.loc[temp_df[column].astype(float) > 0]
      if len(temp_df) == 0:
        temp_df = df_combined_grouped_4_temp.loc[((df_combined_grouped_4_temp["census_tract_id"].str[0:2]==row["census_tract_id"][0:2])), ["census_tract_id", 
                                                                                                                column, 
                                                                                                                "total_population"]]
      temp_df = temp_df.loc[temp_df["census_tract_id"] != row["census_tract_id"]]
      group_avg_feature = temp_df[column].astype(float).mean()
      replace_val = int(group_avg_feature * (float(row["total_population"]) / group_avg_pop))
      df_combined_grouped_4.loc[df_combined_grouped_4["census_tract_id"] == row["census_tract_id"], column] = replace_val

Streaming output truncated to the last 5000 lines.
23080    3496.366736
23090    3496.366736
23096    3496.366736
23097    3496.366736
23104    3496.366736
23666    3496.366736
23670    3496.366736
23672    3496.366736
23697    3496.366736
23700    3496.366736
23710    3496.366736
23722    3496.366736
Name: total_population, dtype: object
3496.3667362560914
group avg 1: 4105.785714285715
10507    4064
10508    3847
10509    5282
10510    4193
10511    2692
         ...
23784    2530
23785    6097
23786    4453
23787    3013
23788    3684
Name: total_population, Length: 252, dtype: object
4105.785714285715
group avg 1: 4105.785714285715
10507    4064
10508    3847
10509    5282
10510    4193
10511    2692
         ...
23784    2530
23785    6097
23786    4453
23787    3013
23788    3684
Name: total_population, Length: 252, dtype: object
4105.785714285715
group avg 1: 4105.785714285715
10507    4064
10508    3847
10509    5282
10510    4193
10511    2692
         ...
23784    2530
23785    6097
23786    4453
23787    3013
23788    3684
Name: total_population, Length: 252, dtype: object
4105.785714285715
group avg 1: 3446.75
16589    2546
16591    4405
23125    3197
23148    3639
Name: total_population, dtype: object
3446.75
group avg 1: 4105.785714285715
10507    4064
10508    3847
10509    5282
10510    4193
10511    2692
         ...
23784    2530
23785    6097
23786    4453
23787    3013
23788    3684
Name: total_population, Length: 252, dtype: object
4105.785714285715
group avg 1: 4105.785714285715
10507    4064
10508    3847
10509    5282
10510    4193
10511    2692
         ...
23784    2530
23785    6097
23786    4453
23787    3013
23788    3684
Name: total_population, Length: 252, dtype: object
4105.785714285715
group avg 1: 4105.785714285715
10507    4064
10508    3847
10509    5282
10510    4193
10511    2692
         ...
23784    2530
23785    6097
23786    4453
23787    3013
23788    3684
Name: total_population, Length: 252, dtype: object
4105.785714285715
group avg 1: 4105.785714285715
10507    4064
10508    3847
10509    5282
10510    4193
10511    2692
         ...
23784    2530
23785    6097
23786    4453
23787    3013
23788    3684
Name: total_population, Length: 252, dtype: object
4105.785714285715
group avg 1: 4105.785714285715
10507    4064
10508    3847
10509    5282
10510    4193
10511    2692
         ...
23784    2530
23785    6097
23786    4453
23787    3013
23788    3684
Name: total_population, Length: 252, dtype: object
4105.785714285715
group avg 1: 3446.75
16589    2546
16591    4405
23125    3197
23148    3639
Name: total_population, dtype: object
3446.75
group avg 1: 4105.785714285715
10507    4064
10508    3847
10509    5282
10510    4193
10511    2692
         ...
23784    2530
23785    6097
23786    4453
23787    3013
23788    3684
Name: total_population, Length: 252, dtype: object
4105.785714285715
group avg 1: 4105.785714285715
10507    4064
10508    3847
10509    5282
10510    4193
10511    2692
         ...
23784    2530
23785    6097
23786    4453
23787    3013
23788    3684
Name: total_population, Length: 252, dtype: object
4105.785714285715
group avg 1: 4105.785714285715
10507    4064
10508    3847
10509    5282
10510    4193
10511    2692
         ...
23784    2530
23785    6097
23786    4453
23787    3013
23788    3684
Name: total_population, Length: 252, dtype: object
4105.785714285715
group avg 1: 4105.785714285715
10507    4064
10508    3847
10509    5282
10510    4193
10511    2692
         ...
23784    2530
23785    6097
23786    4453
23787    3013
23788    3684
Name: total_population, Length: 252, dtype: object
4105.785714285715
group avg 1: 4134.513422818792
10563    4312
10564    6169
10565    4495
10566    6566
10568    1989
         ...
23848    3770
23849    3091
23850    3768
23851    5821
23852    2772
Name: total_population, Length: 298, dtype: object
4134.513422818792
group avg 1: 4134.513422818792
10563    4312
10564    6169
10565    4495
10566    6566
10568    1989
         ...
23848    3770
23849    3091
23850    3768
23851    5821
23852    2772
Name: total_population, Length: 298, dtype: object
4134.513422818792
group avg 1: 4134.513422818792
10563    4312
10564    6169
10565    4495
10566    6566
10568    1989
         ...
23848    3770
23849    3091
23850    3768
23851    5821
23852    2772
Name: total_population, Length: 298, dtype: object
4134.513422818792
group avg 1: 4134.513422818792
10563    4312
10564    6169
10565    4495
10566    6566
10568    1989
         ...
23848    3770
23849    3091
23850    3768
23851    5821
23852    2772
Name: total_population, Length: 298, dtype: object
4134.513422818792
group avg 1: 4134.513422818792
10563    4312
10564    6169
10565    4495
10566    6566
10568    1989
         ...
23848    3770
23849    3091
23850    3768
23851    5821
23852    2772
Name: total_population, Length: 298, dtype: object
4134.513422818792
group avg 1: 4134.513422818792
10563    4312
10564    6169
10565    4495
10566    6566
10568    1989
         ...
23848    3770
23849    3091
23850    3768
23851    5821
23852    2772
Name: total_population, Length: 298, dtype: object
4134.513422818792
group avg 1: 3619.6
16191    3504
23181    3504
23197    3504
23211    3504
23793    4082
Name: total_population, dtype: object
3619.6
group avg 1: 4134.513422818792
10563    4312
10564    6169
10565    4495
10566    6566
10568    1989
         ...
23848    3770
23849    3091
23850    3768
23851    5821
23852    2772
Name: total_population, Length: 298, dtype: object
4134.513422818792
group avg 1: 4134.513422818792
10563    4312
10564    6169
10565    4495
10566    6566
10568    1989
         ...
23848    3770
23849    3091
23850    3768
23851    5821
23852    2772
Name: total_population, Length: 298, dtype: object
4134.513422818792
group avg 1: 3619.6
16191    3504
23181    3504
23197    3504
23211    3504
23793    4082
Name: total_population, dtype: object
3619.6
group avg 1: 3619.6
16191    3504
23181    3504
23197    3504
23211    3504
23793    4082
Name: total_population, dtype: object
3619.6
group avg 1: 4134.513422818792
10563    4312
10564    6169
10565    4495
10566    6566
10568    1989
         ...
23848    3770
23849    3091
23850    3768
23851    5821
23852    2772
Name: total_population, Length: 298, dtype: object
4134.513422818792
group avg 1: 4134.513422818792
10563    4312
10564    6169
10565    4495
10566    6566
10568    1989
         ...
23848    3770
23849    3091
23850    3768
23851    5821
23852    2772
Name: total_population, Length: 298, dtype: object
4134.513422818792
group avg 1: 4134.513422818792
10563    4312
10564    6169
10565    4495
10566    6566
10568    1989
         ...
23848    3770
23849    3091
23850    3768
23851    5821
23852    2772
Name: total_population, Length: 298, dtype: object
4134.513422818792
group avg 1: 4268.82905982906
10657    4598
10658    3216
10660    4527
10661    4659
10662    3326
         ...
23889    3173
23890    2868
23891    4300
23892    4864
23894    2907
Name: total_population, Length: 117, dtype: object
4268.82905982906
group avg 1: 5886.066666666667
10656    5713
10680    7589
11811    9154
11812    5713
11814    6481
16213    3588
16216    9154
16222    2888
16225    5713
16656    5713
16673    4485
23232    4181
23860    5713
23865    6103
23885    6103
Name: total_population, dtype: object
5886.066666666667
group avg 1: 4268.82905982906
10657    4598
10658    3216
10660    4527
10661    4659
10662    3326
         ...
23889    3173
23890    2868
23891    4300
23892    4864
23894    2907
Name: total_population, Length: 117, dtype: object
4268.82905982906
group avg 1: 4268.82905982906
10657    4598
10658    3216
10660    4527
10661    4659
10662    3326
         ...
23889    3173
23890    2868
23891    4300
23892    4864
23894    2907
Name: total_population, Length: 117, dtype: object
4268.82905982906
group avg 1: 4106.328
10002    4286
10006    4807
10007    5140
10008    3886
10009    3129
         ...
23275    2826
23276    2950
23278    2731
23280    6275
23898    3963
Name: total_population, Length: 125, dtype: object
4106.328
group avg 1: 4106.328
10002    4286
10006    4807
10007    5140
10008    3886
10009    3129
         ...
23275    2826
23276    2950
23278    2731
23280    6275
23898    3963
Name: total_population, Length: 125, dtype: object
4106.328
group avg 1: 4106.328
10002    4286
10006    4807
10007    5140
10008    3886
10009    3129
         ...
23275    2826
23276    2950
23278    2731
23280    6275
23898    3963
Name: total_population, Length: 125, dtype: object
4106.328
group avg 1: 4106.328
10002    4286
10006    4807
10007    5140
10008    3886
10009    3129
         ...
23275    2826
23276    2950
23278    2731
23280    6275
23898    3963
Name: total_population, Length: 125, dtype: object
4106.328
group avg 1: 4935.538461538462
10000    3968
10001    3535
10003    5992
10004    8037
10010    5992
10021    5249
10026    4263
10030    4472
10033    5348
10034    7133
10039    4263
10683    4263
10706    5124
10708    3535
10711    4195
11832    2618
16233    6945
16238    3535
16242    4791
16708    3248
16710    7133
23272    5992
23274    3738
23277    4791
23281    5249
23282    4915
Name: total_population, dtype: object
4935.538461538462
group avg 1: 4106.328
10002    4286
10006    4807
10007    5140
10008    3886
10009    3129
         ...
23275    2826
23276    2950
23278    2731
23280    6275
23898    3963
Name: total_population, Length: 125, dtype: object
4106.328
group avg 1: 4106.328
10002    4286
10006    4807
10007    5140
10008    3886
10009    3129
         ...
23275    2826
23276    2950
23278    2731
23280    6275
23898    3963
Name: total_population, Length: 125, dtype: object
4106.328
group avg 1: 4935.538461538462
10000    3968
10001    3535
10003    5992
10004    8037
10010    5992
10021    5249
10026    4263
10030    4472
10033    5348
10034    7133
10039    4263
10683    4263
10706    5124
10708    3535
10711    4195
11832    2618
16233    6945
16238    3535
16242    4791
16708    3248
16710    7133
23272    5992
23274    3738
23277    4791
23281    5249
23282    4915
Name: total_population, dtype: object
4935.538461538462
group avg 1: 4106.328
10002    4286
10006    4807
10007    5140
10008    3886
10009    3129
         ...
23275    2826
23276    2950
23278    2731
23280    6275
23898    3963
Name: total_population, Length: 125, dtype: object
4106.328
group avg 1: 4935.538461538462
10000    3968
10001    3535
10003    5992
10004    8037
10010    5992
10021    5249
10026    4263
10030    4472
10033    5348
10034    7133
10039    4263
10683    4263
10706    5124
10708    3535
10711    4195
11832    2618
16233    6945
16238    3535
16242    4791
16708    3248
16710    7133
23272    5992
23274    3738
23277    4791
23281    5249
23282    4915
Name: total_population, dtype: object
4935.538461538462
group avg 1: 4298.333333333333
11826    5699
11830    5754
16704    3850
16706    4214
23283    4214
23284    2059
Name: total_population, dtype: object
4298.333333333333
group avg 1: 4299.771428571428
10040    1882
10041    4934
10043    7321
10044    4288
10046    3963
         ...
23310    6098
23311    3122
23312    4433
23313    6500
23314    4879
Name: total_population, Length: 140, dtype: object
4299.771428571428
group avg 1: 4917.125
10050    3411
10058    5143
10076    3411
16277    3990
23290    3670
23291    8021
23294    8021
23295    3670
Name: total_population, dtype: object
4917.125
group avg 1: 4917.125
10050    3411
10058    5143
10076    3411
16277    3990
23290    3670
23291    8021
23294    8021
23295    3670
Name: total_population, dtype: object
4917.125
group avg 1: 4299.771428571428
10040    1882
10041    4934
10043    7321
10044    4288
10046    3963
         ...
23310    6098
23311    3122
23312    4433
23313    6500
23314    4879
Name: total_population, Length: 140, dtype: object
4299.771428571428
group avg 1: 4917.125
10050    3411
10058    5143
10076    3411
16277    3990
23290    3670
23291    8021
23294    8021
23295    3670
Name: total_population, dtype: object
4917.125
group avg 1: 4917.125
10050    3411
10058    5143
10076    3411
16277    3990
23290    3670
23291    8021
23294    8021
23295    3670
Name: total_population, dtype: object
4917.125
group avg 1: 4299.771428571428
10040    1882
10041    4934
10043    7321
10044    4288
10046    3963
         ...
23310    6098
23311    3122
23312    4433
23313    6500
23314    4879
Name: total_population, Length: 140, dtype: object
4299.771428571428
group avg 1: 4299.771428571428
10040    1882
10041    4934
10043    7321
10044    4288
10046    3963
         ...
23310    6098
23311    3122
23312    4433
23313    6500
23314    4879
Name: total_population, Length: 140, dtype: object
4299.771428571428
group avg 1: 4299.771428571428
10040    1882
10041    4934
10043    7321
10044    4288
10046    3963
         ...
23310    6098
23311    3122
23312    4433
23313    6500
23314    4879
Name: total_population, Length: 140, dtype: object
4299.771428571428
group avg 1: 4299.771428571428
10040    1882
10041    4934
10043    7321
10044    4288
10046    3963
         ...
23310    6098
23311    3122
23312    4433
23313    6500
23314    4879
Name: total_population, Length: 140, dtype: object
4299.771428571428
group avg 1: 4299.771428571428
10040    1882
10041    4934
10043    7321
10044    4288
10046    3963
         ...
23310    6098
23311    3122
23312    4433
23313    6500
23314    4879
Name: total_population, Length: 140, dtype: object
4299.771428571428
group avg 1: 4299.771428571428
10040    1882
10041    4934
10043    7321
10044    4288
10046    3963
         ...
23310    6098
23311    3122
23312    4433
23313    6500
23314    4879
Name: total_population, Length: 140, dtype: object
4299.771428571428
group avg 1: 4299.771428571428
10040    1882
10041    4934
10043    7321
10044    4288
10046    3963
         ...
23310    6098
23311    3122
23312    4433
23313    6500
23314    4879
Name: total_population, Length: 140, dtype: object
4299.771428571428
group avg 1: 4299.771428571428
10040    1882
10041    4934
10043    7321
10044    4288
10046    3963
         ...
23310    6098
23311    3122
23312    4433
23313    6500
23314    4879
Name: total_population, Length: 140, dtype: object
4299.771428571428
group avg 1: 4299.771428571428
10040    1882
10041    4934
10043    7321
10044    4288
10046    3963
         ...
23310    6098
23311    3122
23312    4433
23313    6500
23314    4879
Name: total_population, Length: 140, dtype: object
4299.771428571428
group avg 1: 4299.771428571428
10040    1882
10041    4934
10043    7321
10044    4288
10046    3963
         ...
23310    6098
23311    3122
23312    4433
23313    6500
23314    4879
Name: total_population, Length: 140, dtype: object
4299.771428571428
group avg 1: 3762.135135135135
10077    6095
10080    4557
10081    3380
10082    4047
10083    4793
         ...
23328    3349
23329    2147
23332    5344
23333    2151
23335    4906
Name: total_population, Length: 74, dtype: object
3762.135135135135
group avg 1: 4476.76
10078    5877
10092    4804
10098    2806
10101    5100
10103    5015
10762    4018
10767    2719
10768    5535
10771    1383
10772    4804
11862    6994
16281    6994
16285    6994
16297    4018
16299    2719
16746    6994
16755    4018
16757    2806
16758    3867
16760    4505
16762    5535
23326    4018
23331    4958
23334    2719
23336    2719
Name: total_population, dtype: object
4476.76
group avg 1: 3762.135135135135
10077    6095
10080    4557
10081    3380
10082    4047
10083    4793
         ...
23328    3349
23329    2147
23332    5344
23333    2151
23335    4906
Name: total_population, Length: 74, dtype: object
3762.135135135135
group avg 1: 4476.76
10078    5877
10092    4804
10098    2806
10101    5100
10103    5015
10762    4018
10767    2719
10768    5535
10771    1383
10772    4804
11862    6994
16281    6994
16285    6994
16297    4018
16299    2719
16746    6994
16755    4018
16757    2806
16758    3867
16760    4505
16762    5535
23326    4018
23331    4958
23334    2719
23336    2719
Name: total_population, dtype: object
4476.76
group avg 1: 3762.135135135135
10077    6095
10080    4557
10081    3380
10082    4047
10083    4793
         ...
23328    3349
23329    2147
23332    5344
23333    2151
23335    4906
Name: total_population, Length: 74, dtype: object
3762.135135135135
group avg 1: 4476.76
10078    5877
10092    4804
10098    2806
10101    5100
10103    5015
10762    4018
10767    2719
10768    5535
10771    1383
10772    4804
11862    6994
16281    6994
16285    6994
16297    4018
16299    2719
16746    6994
16755    4018
16757    2806
16758    3867
16760    4505
16762    5535
23326    4018
23331    4958
23334    2719
23336    2719
Name: total_population, dtype: object
4476.76
group avg 1: 4476.76
10078    5877
10092    4804
10098    2806
10101    5100
10103    5015
10762    4018
10767    2719
10768    5535
10771    1383
10772    4804
11862    6994
16281    6994
16285    6994
16297    4018
16299    2719
16746    6994
16755    4018
16757    2806
16758    3867
16760    4505
16762    5535
23326    4018
23331    4958
23334    2719
23336    2719
Name: total_population, dtype: object
4476.76
group avg 1: 6165.135135135135
10106     7807
10117     4994
10120    11585
10125     7807
10778     4041
10779     7807
10780    11585
10787     5666
11871     4895
11872     4850
11879     3234
11881     7875
11884     7482
11885     2525
11886     6431
16300     6431
16304     2525
16305     4230
16307     6156
16309     7482
16765     7807
16767     6156
16768     2525
16770     5154
16771     7482
16772    11650
23338    11585
23339     7482
23341     3982
23344     4041
23348     5307
23353     4230
23354     4230
23355     4895
23362     6156
23364     5979
23369     4041
Name: total_population, dtype: object
6165.135135135135
group avg 1: 6165.135135135135
10106     7807
10117     4994
10120    11585
10125     7807
10778     4041
10779     7807
10780    11585
10787     5666
11871     4895
11872     4850
11879     3234
11881     7875
11884     7482
11885     2525
11886     6431
16300     6431
16304     2525
16305     4230
16307     6156
16309     7482
16765     7807
16767     6156
16768     2525
16770     5154
16771     7482
16772    11650
23338    11585
23339     7482
23341     3982
23344     4041
23348     5307
23353     4230
23354     4230
23355     4895
23362     6156
23364     5979
23369     4041
Name: total_population, dtype: object
6165.135135135135
group avg 1: 3490.7444444444445
10104    4733
10105    4987
10107    2447
10108    2940
10109    3656
         ...
23363    2989
23365    4106
23366    3662
23367    3760
23368    2727
Name: total_population, Length: 90, dtype: object
3490.7444444444445
group avg 1: 6165.135135135135
10106     7807
10117     4994
10120    11585
10125     7807
10778     4041
10779     7807
10780    11585
10787     5666
11871     4895
11872     4850
11879     3234
11881     7875
11884     7482
11885     2525
11886     6431
16300     6431
16304     2525
16305     4230
16307     6156
16309     7482
16765     7807
16767     6156
16768     2525
16770     5154
16771     7482
16772    11650
23338    11585
23339     7482
23341     3982
23344     4041
23348     5307
23353     4230
23354     4230
23355     4895
23362     6156
23364     5979
23369     4041
Name: total_population, dtype: object
6165.135135135135
group avg 1: 3490.7444444444445
10104    4733
10105    4987
10107    2447
10108    2940
10109    3656
         ...
23363    2989
23365    4106
23366    3662
23367    3760
23368    2727
Name: total_population, Length: 90, dtype: object
3490.7444444444445
group avg 1: 6165.135135135135
10106     7807
10117     4994
10120    11585
10125     7807
10778     4041
10779     7807
10780    11585
10787     5666
11871     4895
11872     4850
11879     3234
11881     7875
11884     7482
11885     2525
11886     6431
16300     6431
16304     2525
16305     4230
16307     6156
16309     7482

In [ ]:
df_combined_ungrouped = pd.read_csv('/content/df_combined_ungrouped')

In [ ]:
df_combined_ungrouped

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,PROPERTY_STATE,PROPERTY_ZIPCODE,PROPERTY_LATITUDE,PROPERTY_LONGITUDE,PROPERTY_PHONE,PROPERTY_UNITS,PROPERTY_SQFT,PROPERTY_ACRES,PROPERTY_IMPRATING,PROPERTY_LOCRATING,PROPERTY_STATUS,PROPERTY_DATE_PLANNED,PROPERTY_DATE_UNDERCONSTRUCTION,PROPERTY_DATE_RENTUP,PROPERTY_DATECOMPLETED,PROPERTY_MIXEDUSE,PROPERTY_MIXEDUSE_NOTES,PROPERTY_ADAPTIVEREUSE,PROPERTY_SINGLEFAMILYRENTAL,PROPERTY_CURRENT_OCCUPANCY,PROPERTY_CURRENT_RENT,PROPERTY_MATRIX_URL,today,age_of_the_property,state_code,county_code,rent_per_sqft,starbucks_within_om,census_tract_id,target_within_tm,census_tract,zip code,Total pop in education data,Total pop < high school,Total pop high school graduate,Total pop w/ some college or associates,Total pop w/ bachelors,Total pop w/ grad degree,Total women 15 TO 50y who birthed in last 12m,Total number of households in household income data,Total with household income <$10k,Total with household income $10-15k,Total with household income $15-20k,Total with household income $20-25k,Total with household income $25-30k,Total with household income $30-35k,Total with household income $35-40k,Total with household income $40-45k,Total with household income $45-50k,Total with household income $50-60k,Total with household income $60-75k,Total with household income $75-100k,Total with household income $100-125k,Total with household income $125-150k,Total with household income $150-200k,Total with household income $200k+,Total housing units,Total occupied units,Total vacant units,Median gross rent,Total # people in travel time to work data,Travel time to work: <5 min,Travel time to work: 5-9 min,Travel time to work: 10-14 min,Travel time to work: 15-19 min,Travel time to work: 20-24 min,Travel time to work: 25-29 min,Travel time to work: 30-34 min,Travel time to work: 35-39 min,Travel time to work: 40-44 min,Travel time to work: 45-59 min,Travel time to work: 60-89 min,Travel time to work: 90+ min,total_population
0,0,89_328,89,El Paso,7.0,Northwest El Paso,El Paso,Desert Peaks,"Shadow Mountain Villas, Village 1 & 2",140 Shadow Mountain Drive,El Paso,TX,79912.0,31.829729,-106.525397,9.155849e+09,158,131836.0,6.93,C+,B,Completed,NaN,NaN,NaN,1966-01-01,0.0,NaN,NaN,NaN,96.2,940.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,20484,48,41,1.126551,1,48041001110,2,1110,79912,2184,182,334,563,536,566,1466,1766,255,129,81,171,106,83,90,88,63,105,148,180,75,78,57,85,2062,1766,296,902,2148,110,350,565,617,271,51,105,40,16,20,42,35,3711.888889
1,1,89_356,89,El Paso,7.0,Northwest El Paso,El Paso,Overlook,Argonaut Heights,213 Argonaut Heights Drive,El Paso,TX,79912.0,31.811390,-106.508570,9.155447e+09,152,132688.0,8.93,C+,B-,Completed,NaN,NaN,NaN,1974-01-01,0.0,NaN,NaN,NaN,96.1,820.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,17562,48,41,0.939346,0,48041001111,2,1111,79912,2184,182,334,563,536,566,1466,1766,255,129,81,171,106,83,90,88,63,105,148,180,75,78,57,85,2062,1766,296,902,2148,110,350,565,617,271,51,105,40,16,20,42,35,3711.888889
2,2,89_357,89,El Paso,5.0,East El Paso,El Paso,Camino Real,NaN,2801 North Yarbrough Drive,El Paso,TX,79925.0,31.781474,-106.339508,9.155938e+09,160,205780.0,10.01,B-,C+,Completed,NaN,NaN,NaN,1971-01-01,0.0,NaN,NaN,NaN,98.8,965.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,18658,48,41,0.750316,0,48041004311,3,4311,79925,2184,182,334,563,536,566,1466,1766,255,129,81,171,106,83,90,88,63,105,148,180,75,78,57,85,2062,1766,296,902,2148,110,350,565,617,271,51,105,40,16,20,42,35,3711.888889
3,3,89_37,89,El Paso,4.0,Northeast El Paso,El Paso,Mountain Vista,NaN,5757 Will Ruth Avenue,El Paso,TX,79924.0,31.886572,-106.407021,9.157516e+09,160,116480.0,7.21,B-,C,Completed,NaN,NaN,NaN,2008-01-01,0.0,NaN,NaN,NaN,98.1,961.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,5144,48,41,1.320055,0,48041000205,2,205,79924,2640,221,404,680,648,684,1772,2134,309,156,98,207,128,100,109,106,76,127,179,217,91,94,69,103,2493,2134,358,1090,2595,133,423,683,745,328,62,127,49,19,24,51,43,4486.000000
4,4,89_374,89,El Paso,5.0,East El Paso,El Paso,Three Palms,NaN,12949 Eastbrook,El Paso,TX,79938.0,31.821640,-106.243430,9.155005e+09,172,135972.0,11.54,B,C+,Completed,NaN,NaN,NaN,2013-06-01,0.0,NaN,NaN,NaN,97.1,934.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,3166,48,41,1.181479,0,48041010358,2,10358,79938,2184,182,334,563,536,566,1466,1766,255,129,81,171,106,83,90,88,63,105,148,180,75,78,57,85,2062,1766,296,902,2148,110,350,565,617,271,51,105,40,16,20,42,35,3711.888889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23894,23894,104_992,104,Knoxville,1.0,Knoxville - Downtown,Knox,Marble Alley Lofts,NaN,300 State Street,Knoxville,TN,37902.0,35.967200,-83.917880,8.655441e+09,248,191472.0,4.73,A,B-,Completed,NaN,2014-10-01,2014-12-01,2016-08-05,0.0,NaN,0.0,NaN,97.6,1620.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,2005,47,93,2.098270,2,47093000100,3,100,37902,1865,123,380,211,603,548,626,1603,271,130,126,78,69,82,54,73,34,89,106,161,92,75,83,80,1837,1603,234,929,1387,40,299,227,240,190,160,72,32,32,84,0,11,2907.000000
23895,23895,116_10,116,New Orleans,4.0,French Quarter,Orleans Parish,"Paramount, The",NaN,611 O'Keefe Avenue,New Orleans,LA,70113.0,29.948683,-90.074981,5.043248e+09,209,190509.0,2.05,A,B-,Completed,NaN,NaN,NaN,2014-09-01,1.0,"Includes 23,000 Square Feet of Retail",NaN,NaN,83.7,2226.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,2709,22,71,2.442058,9,22071013400,2,13400,70113,2771,226,451,425,1002,667,613,2067,231,187,70,56,33,31,39,64,90,107,130,261,237,81,138,312,3247,2067,1180,1465,1776,120,345,528,283,182,99,55,56,30,22,43,13,4351.000000
23896,23896,116_102,116,New Orleans,19.0,New Orleans East,Orleans Parish,Orwood Creek,Carriage House,10151 Curran Road,New Orleans,LA,70127.0,30.047655,-89.980910,5.045259e+09,216,172320.0,4.70,C,C+,Completed,NaN,NaN,NaN,1965-01-01,0.0,NaN,NaN,NaN,94.9,666.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,20849,22,71,0.834819,0,22071001737,0,1737,70127,2158,297,696,773,245,147,1063,1417,332,88,114,128,122,47,102,88,10,96,196,70,24,0,0,0,1545,1417,128,918,1390,11,15,136,61,244,140,396,102,67,99,105,14,3647.000000
23897,23897,116_110,116,New Orleans,16.0,Algiers,Orleans Parish,Jackson's Landing North,Newport,3501 Garden Oaks Drive,New Orleans,LA,70114.0,29.920149,-90.023146,5.043630e+09,272,220646.0,8.89,C+,C,Completed,NaN,NaN,NaN,1978-01-01,0.0,NaN,NaN,NaN,80.1,735.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,16101,22,71,0.906067,0,22071000619,1,619,70114,1598,172,401,447,347,229,598,1023,161,93,65,58,50,38,33,36,39,73,87,98,66,39,52,72,1363,1023,340,743,1010,40,95,163,160,159,72,151,42,33,49,42,26,2123.000000
23898,23898,116_117,116,New Orleans,11.0,Metairie,Jefferson Parish,Crossings,NaN,2200 Severn Avenue,Metairie,LA,70001.0,29.993633,-90.160258,5.048373e+09,249,199534.0,5.71,C+,C+,Completed,NaN,NaN,NaN,1974-01-01,0.0,NaN,NaN,NaN,98.0,1182.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,17562,22,51,1.475027,2,22051028800,3,28800,70001,2552,340,704,703,461,343,957,1605,106,84,83,95,103,97,86,82,62,170,129,210,113,76,69,63,1797,1605,192,964,1845,55,156,248,366,406,106,246,61,44,81,54,49,3963.000000

In [ ]:
# Starting point
def update_census_tract_id(row):
  county_code = str(int(row["census_tract_id"]))
  pattern = re.compile("^\d{11}$")
  if pattern.match(county_code):
    return county_code
  if len(county_code) < 11:
    county_code = "0" * (11 - len(county_code)) + county_code
    return county_code

df_combined_ungrouped["census_tract_id"] = df_combined_ungrouped.apply(lambda row: update_census_tract_id(row), axis=1)

pd.set_option('display.max_columns', None)


df_combined_ungrouped

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,PROPERTY_STATE,PROPERTY_ZIPCODE,PROPERTY_LATITUDE,PROPERTY_LONGITUDE,PROPERTY_PHONE,PROPERTY_UNITS,PROPERTY_SQFT,PROPERTY_ACRES,PROPERTY_IMPRATING,PROPERTY_LOCRATING,PROPERTY_STATUS,PROPERTY_DATE_PLANNED,PROPERTY_DATE_UNDERCONSTRUCTION,PROPERTY_DATE_RENTUP,PROPERTY_DATECOMPLETED,PROPERTY_MIXEDUSE,PROPERTY_MIXEDUSE_NOTES,PROPERTY_ADAPTIVEREUSE,PROPERTY_SINGLEFAMILYRENTAL,PROPERTY_CURRENT_OCCUPANCY,PROPERTY_CURRENT_RENT,PROPERTY_MATRIX_URL,today,age_of_the_property,state_code,county_code,rent_per_sqft,starbucks_within_om,census_tract_id,target_within_tm,census_tract,zip code,Total pop in education data,Total pop < high school,Total pop high school graduate,Total pop w/ some college or associates,Total pop w/ bachelors,Total pop w/ grad degree,Total women 15 TO 50y who birthed in last 12m,Total number of households in household income data,Total with household income <$10k,Total with household income $10-15k,Total with household income $15-20k,Total with household income $20-25k,Total with household income $25-30k,Total with household income $30-35k,Total with household income $35-40k,Total with household income $40-45k,Total with household income $45-50k,Total with household income $50-60k,Total with household income $60-75k,Total with household income $75-100k,Total with household income $100-125k,Total with household income $125-150k,Total with household income $150-200k,Total with household income $200k+,Total housing units,Total occupied units,Total vacant units,Median gross rent,Total # people in travel time to work data,Travel time to work: <5 min,Travel time to work: 5-9 min,Travel time to work: 10-14 min,Travel time to work: 15-19 min,Travel time to work: 20-24 min,Travel time to work: 25-29 min,Travel time to work: 30-34 min,Travel time to work: 35-39 min,Travel time to work: 40-44 min,Travel time to work: 45-59 min,Travel time to work: 60-89 min,Travel time to work: 90+ min,total_population
0,0,89_328,89,El Paso,7.0,Northwest El Paso,El Paso,Desert Peaks,"Shadow Mountain Villas, Village 1 & 2",140 Shadow Mountain Drive,El Paso,TX,79912.0,31.829729,-106.525397,9.155849e+09,158,131836.0,6.93,C+,B,Completed,NaN,NaN,NaN,1966-01-01,0.0,NaN,NaN,NaN,96.2,940.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,20484,48,41,1.126551,1,48041001110,2,1110,79912,2184,182,334,563,536,566,1466,1766,255,129,81,171,106,83,90,88,63,105,148,180,75,78,57,85,2062,1766,296,902,2148,110,350,565,617,271,51,105,40,16,20,42,35,3711.888889
1,1,89_356,89,El Paso,7.0,Northwest El Paso,El Paso,Overlook,Argonaut Heights,213 Argonaut Heights Drive,El Paso,TX,79912.0,31.811390,-106.508570,9.155447e+09,152,132688.0,8.93,C+,B-,Completed,NaN,NaN,NaN,1974-01-01,0.0,NaN,NaN,NaN,96.1,820.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,17562,48,41,0.939346,0,48041001111,2,1111,79912,2184,182,334,563,536,566,1466,1766,255,129,81,171,106,83,90,88,63,105,148,180,75,78,57,85,2062,1766,296,902,2148,110,350,565,617,271,51,105,40,16,20,42,35,3711.888889
2,2,89_357,89,El Paso,5.0,East El Paso,El Paso,Camino Real,NaN,2801 North Yarbrough Drive,El Paso,TX,79925.0,31.781474,-106.339508,9.155938e+09,160,205780.0,10.01,B-,C+,Completed,NaN,NaN,NaN,1971-01-01,0.0,NaN,NaN,NaN,98.8,965.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,18658,48,41,0.750316,0,48041004311,3,4311,79925,2184,182,334,563,536,566,1466,1766,255,129,81,171,106,83,90,88,63,105,148,180,75,78,57,85,2062,1766,296,902,2148,110,350,565,617,271,51,105,40,16,20,42,35,3711.888889
3,3,89_37,89,El Paso,4.0,Northeast El Paso,El Paso,Mountain Vista,NaN,5757 Will Ruth Avenue,El Paso,TX,79924.0,31.886572,-106.407021,9.157516e+09,160,116480.0,7.21,B-,C,Completed,NaN,NaN,NaN,2008-01-01,0.0,NaN,NaN,NaN,98.1,961.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,5144,48,41,1.320055,0,48041000205,2,205,79924,2640,221,404,680,648,684,1772,2134,309,156,98,207,128,100,109,106,76,127,179,217,91,94,69,103,2493,2134,358,1090,2595,133,423,683,745,328,62,127,49,19,24,51,43,4486.000000
4,4,89_374,89,El Paso,5.0,East El Paso,El Paso,Three Palms,NaN,12949 Eastbrook,El Paso,TX,79938.0,31.821640,-106.243430,9.155005e+09,172,135972.0,11.54,B,C+,Completed,NaN,NaN,NaN,2013-06-01,0.0,NaN,NaN,NaN,97.1,934.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,3166,48,41,1.181479,0,48041010358,2,10358,79938,2184,182,334,563,536,566,1466,1766,255,129,81,171,106,83,90,88,63,105,148,180,75,78,57,85,2062,1766,296,902,2148,110,350,565,617,271,51,105,40,16,20,42,35,3711.888889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23894,23894,104_992,104,Knoxville,1.0,Knoxville - Downtown,Knox,Marble Alley Lofts,NaN,300 State Street,Knoxville,TN,37902.0,35.967200,-83.917880,8.655441e+09,248,191472.0,4.73,A,B-,Completed,NaN,2014-10-01,2014-12-01,2016-08-05,0.0,NaN,0.0,NaN,97.6,1620.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,2005,47,93,2.098270,2,47093000100,3,100,37902,1865,123,380,211,603,548,626,1603,271,130,126,78,69,82,54,73,34,89,106,161,92,75,83,80,1837,1603,234,929,1387,40,299,227,240,190,160,72,32,32,84,0,11,2907.000000
23895,23895,116_10,116,New Orleans,4.0,French Quarter,Orleans Parish,"Paramount, The",NaN,611 O'Keefe Avenue,New Orleans,LA,70113.0,29.948683,-90.074981,5.043248e+09,209,190509.0,2.05,A,B-,Completed,NaN,NaN,NaN,2014-09-01,1.0,"Includes 23,000 Square Feet of Retail",NaN,NaN,83.7,2226.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,2709,22,71,2.442058,9,22071013400,2,13400,70113,2771,226,451,425,1002,667,613,2067,231,187,70,56,33,31,39,64,90,107,130,261,237,81,138,312,3247,2067,1180,1465,1776,120,345,528,283,182,99,55,56,30,22,43,13,4351.000000
23896,23896,116_102,116,New Orleans,19.0,New Orleans East,Orleans Parish,Orwood Creek,Carriage House,10151 Curran Road,New Orleans,LA,70127.0,30.047655,-89.980910,5.045259e+09,216,172320.0,4.70,C,C+,Completed,NaN,NaN,NaN,1965-01-01,0.0,NaN,NaN,NaN,94.9,666.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,20849,22,71,0.834819,0,22071001737,0,1737,70127,2158,297,696,773,245,147,1063,1417,332,88,114,128,122,47,102,88,10,96,196,70,24,0,0,0,1545,1417,128,918,1390,11,15,136,61,244,140,396,102,67,99,105,14,3647.000000
23897,23897,116_110,116,New Orleans,16.0,Algiers,Orleans Parish,Jackson's Landing North,Newport,3501 Garden Oaks Drive,New Orleans,LA,70114.0,29.920149,-90.023146,5.043630e+09,272,220646.0,8.89,C+,C,Completed,NaN,NaN,NaN,1978-01-01,0.0,NaN,NaN,NaN,80.1,735.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,16101,22,71,0.906067,0,22071000619,1,619,70114,1598,172,401,447,347,229,598,1023,161,93,65,58,50,38,33,36,39,73,87,98,66,39,52,72,1363,1023,340,743,1010,40,95,163,160,159,72,151,42,33,49,42,26,2123.000000
23898,23898,116_117,116,New Orleans,11.0,Metairie,Jefferson Parish,Crossings,NaN,2200 Severn Avenue,Metairie,LA,70001.0,29.993633,-90.160258,5.048373e+09,249,199534.0,5.71,C+,C+,Completed,NaN,NaN,NaN,1974-01-01,0.0,NaN,NaN,NaN,98.0,1182.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,17562,22,51,1.475027,2,22051028800,3,28800,70001,2552,340,704,703,461,343,957,1605,106,84,83,95,103,97,86,82,62,170,129,210,113,76,69,63,1797,1605,192,964,1845,55,156,248,366,406,106,246,61,44,81,54,49,3963.000000

In [ ]:
df_combined_ungrouped.columns

Index(['Unnamed: 0', 'PROPERTY_ID', 'MARKETID', 'MARKET_NAME',
       'SUBMARKET_CODE', 'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME',
       'PROPERTY_PRIORNAMES', 'PROPERTY_ADDRESS', 'PROPERTY_CITY',
       'PROPERTY_STATE', 'PROPERTY_ZIPCODE', 'PROPERTY_LATITUDE',
       'PROPERTY_LONGITUDE', 'PROPERTY_PHONE', 'PROPERTY_UNITS',
       'PROPERTY_SQFT', 'PROPERTY_ACRES', 'PROPERTY_IMPRATING',
       'PROPERTY_LOCRATING', 'PROPERTY_STATUS', 'PROPERTY_DATE_PLANNED',
       'PROPERTY_DATE_UNDERCONSTRUCTION', 'PROPERTY_DATE_RENTUP',
       'PROPERTY_DATECOMPLETED', 'PROPERTY_MIXEDUSE',
       'PROPERTY_MIXEDUSE_NOTES', 'PROPERTY_ADAPTIVEREUSE',
       'PROPERTY_SINGLEFAMILYRENTAL', 'PROPERTY_CURRENT_OCCUPANCY',
       'PROPERTY_CURRENT_RENT', 'PROPERTY_MATRIX_URL', 'today',
       'age_of_the_property', 'state_code', 'county_code', 'rent_per_sqft',
       'starbucks_within_om', 'census_tract_id', 'target_within_tm',
       'census_tract', 'zip code', 'Total pop in education data',
       'Total pop < high school', 'Total pop high school graduate',
       'Total pop w/ some college or associates', 'Total pop w/ bachelors',
       'Total pop w/ grad degree',
       'Total women 15 TO 50y who birthed in last 12m',
       'Total number of households in household income data',
       'Total with household income <$10k',
       'Total with household income $10-15k',
       'Total with household income $15-20k',
       'Total with household income $20-25k',
       'Total with household income $25-30k',
       'Total with household income $30-35k',
       'Total with household income $35-40k',
       'Total with household income $40-45k',
       'Total with household income $45-50k',
       'Total with household income $50-60k',
       'Total with household income $60-75k',
       'Total with household income $75-100k',
       'Total with household income $100-125k',
       'Total with household income $125-150k',
       'Total with household income $150-200k',
       'Total with household income $200k+', 'Total housing units',
       'Total occupied units', 'Total vacant units', 'Median gross rent',
       'Total # people in travel time to work data',
       'Travel time to work: <5 min', 'Travel time to work: 5-9 min',
       'Travel time to work: 10-14 min', 'Travel time to work: 15-19 min',
       'Travel time to work: 20-24 min', 'Travel time to work: 25-29 min',
       'Travel time to work: 30-34 min', 'Travel time to work: 35-39 min',
       'Travel time to work: 40-44 min', 'Travel time to work: 45-59 min',
       'Travel time to work: 60-89 min', 'Travel time to work: 90+ min',
       'total_population'],
      dtype='object')

In [ ]:
columns = ['Total pop in education data',
       'Total pop < high school', 'Total pop high school graduate',
       'Total pop w/ some college or associates', 'Total pop w/ bachelors',
       'Total pop w/ grad degree',
       'Total women 15 TO 50y who birthed in last 12m',
       'Total number of households in household income data',
       'Total with household income <$10k',
       'Total with household income $10-15k',
       'Total with household income $15-20k',
       'Total with household income $20-25k',
       'Total with household income $25-30k',
       'Total with household income $30-35k',
       'Total with household income $35-40k',
       'Total with household income $40-45k',
       'Total with household income $45-50k',
       'Total with household income $50-60k',
       'Total with household income $60-75k',
       'Total with household income $75-100k',
       'Total with household income $100-125k',
       'Total with household income $125-150k',
       'Total with household income $150-200k',
       'Total with household income $200k+', 'Total housing units',
       'Total occupied units', 'Total vacant units', 'Median gross rent',
       'Total # people in travel time to work data',
       'Travel time to work: <5 min', 'Travel time to work: 5-9 min',
       'Travel time to work: 10-14 min', 'Travel time to work: 15-19 min',
       'Travel time to work: 20-24 min', 'Travel time to work: 25-29 min',
       'Travel time to work: 30-34 min', 'Travel time to work: 35-39 min',
       'Travel time to work: 40-44 min', 'Travel time to work: 45-59 min',
       'Travel time to work: 60-89 min', 'Travel time to work: 90+ min',
       'total_population'
           ]
for i in columns:
  df_combined_ungrouped[i] = df_combined_ungrouped[i].astype(float)

In [ ]:
df_combined_ungrouped

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,PROPERTY_CITY,PROPERTY_STATE,PROPERTY_ZIPCODE,PROPERTY_LATITUDE,PROPERTY_LONGITUDE,PROPERTY_PHONE,PROPERTY_UNITS,PROPERTY_SQFT,PROPERTY_ACRES,PROPERTY_IMPRATING,PROPERTY_LOCRATING,PROPERTY_STATUS,PROPERTY_DATE_PLANNED,PROPERTY_DATE_UNDERCONSTRUCTION,PROPERTY_DATE_RENTUP,PROPERTY_DATECOMPLETED,PROPERTY_MIXEDUSE,PROPERTY_MIXEDUSE_NOTES,PROPERTY_ADAPTIVEREUSE,PROPERTY_SINGLEFAMILYRENTAL,PROPERTY_CURRENT_OCCUPANCY,PROPERTY_CURRENT_RENT,PROPERTY_MATRIX_URL,today,age_of_the_property,state_code,county_code,rent_per_sqft,starbucks_within_om,census_tract_id,target_within_tm,census_tract,zip code,Total pop in education data,Total pop < high school,Total pop high school graduate,Total pop w/ some college or associates,Total pop w/ bachelors,Total pop w/ grad degree,Total women 15 TO 50y who birthed in last 12m,Total number of households in household income data,Total with household income <$10k,Total with household income $10-15k,Total with household income $15-20k,Total with household income $20-25k,Total with household income $25-30k,Total with household income $30-35k,Total with household income $35-40k,Total with household income $40-45k,Total with household income $45-50k,Total with household income $50-60k,Total with household income $60-75k,Total with household income $75-100k,Total with household income $100-125k,Total with household income $125-150k,Total with household income $150-200k,Total with household income $200k+,Total housing units,Total occupied units,Total vacant units,Median gross rent,Total # people in travel time to work data,Travel time to work: <5 min,Travel time to work: 5-9 min,Travel time to work: 10-14 min,Travel time to work: 15-19 min,Travel time to work: 20-24 min,Travel time to work: 25-29 min,Travel time to work: 30-34 min,Travel time to work: 35-39 min,Travel time to work: 40-44 min,Travel time to work: 45-59 min,Travel time to work: 60-89 min,Travel time to work: 90+ min,total_population
0,0,89_328,89,El Paso,7.0,Northwest El Paso,El Paso,Desert Peaks,"Shadow Mountain Villas, Village 1 & 2",140 Shadow Mountain Drive,El Paso,TX,79912.0,31.829729,-106.525397,9.155849e+09,158,131836.0,6.93,C+,B,Completed,NaN,NaN,NaN,1966-01-01,0.0,NaN,NaN,NaN,96.2,940.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,20484,48,41,1.126551,1,48041001110,2,1110,79912,2184.0,182.0,334.0,563.0,536.0,566.0,1466.0,1766.0,255.0,129.0,81.0,171.0,106.0,83.0,90.0,88.0,63.0,105.0,148.0,180.0,75.0,78.0,57.0,85.0,2062.0,1766.0,296.0,902.0,2148.0,110.0,350.0,565.0,617.0,271.0,51.0,105.0,40.0,16.0,20.0,42.0,35.0,3711.888889
1,1,89_356,89,El Paso,7.0,Northwest El Paso,El Paso,Overlook,Argonaut Heights,213 Argonaut Heights Drive,El Paso,TX,79912.0,31.811390,-106.508570,9.155447e+09,152,132688.0,8.93,C+,B-,Completed,NaN,NaN,NaN,1974-01-01,0.0,NaN,NaN,NaN,96.1,820.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,17562,48,41,0.939346,0,48041001111,2,1111,79912,2184.0,182.0,334.0,563.0,536.0,566.0,1466.0,1766.0,255.0,129.0,81.0,171.0,106.0,83.0,90.0,88.0,63.0,105.0,148.0,180.0,75.0,78.0,57.0,85.0,2062.0,1766.0,296.0,902.0,2148.0,110.0,350.0,565.0,617.0,271.0,51.0,105.0,40.0,16.0,20.0,42.0,35.0,3711.888889
2,2,89_357,89,El Paso,5.0,East El Paso,El Paso,Camino Real,NaN,2801 North Yarbrough Drive,El Paso,TX,79925.0,31.781474,-106.339508,9.155938e+09,160,205780.0,10.01,B-,C+,Completed,NaN,NaN,NaN,1971-01-01,0.0,NaN,NaN,NaN,98.8,965.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,18658,48,41,0.750316,0,48041004311,3,4311,79925,2184.0,182.0,334.0,563.0,536.0,566.0,1466.0,1766.0,255.0,129.0,81.0,171.0,106.0,83.0,90.0,88.0,63.0,105.0,148.0,180.0,75.0,78.0,57.0,85.0,2062.0,1766.0,296.0,902.0,2148.0,110.0,350.0,565.0,617.0,271.0,51.0,105.0,40.0,16.0,20.0,42.0,35.0,3711.888889
3,3,89_37,89,El Paso,4.0,Northeast El Paso,El Paso,Mountain Vista,NaN,5757 Will Ruth Avenue,El Paso,TX,79924.0,31.886572,-106.407021,9.157516e+09,160,116480.0,7.21,B-,C,Completed,NaN,NaN,NaN,2008-01-01,0.0,NaN,NaN,NaN,98.1,961.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,5144,48,41,1.320055,0,48041000205,2,205,79924,2640.0,221.0,404.0,680.0,648.0,684.0,1772.0,2134.0,309.0,156.0,98.0,207.0,128.0,100.0,109.0,106.0,76.0,127.0,179.0,217.0,91.0,94.0,69.0,103.0,2493.0,2134.0,358.0,1090.0,2595.0,133.0,423.0,683.0,745.0,328.0,62.0,127.0,49.0,19.0,24.0,51.0,43.0,4486.000000
4,4,89_374,89,El Paso,5.0,East El Paso,El Paso,Three Palms,NaN,12949 Eastbrook,El Paso,TX,79938.0,31.821640,-106.243430,9.155005e+09,172,135972.0,11.54,B,C+,Completed,NaN,NaN,NaN,2013-06-01,0.0,NaN,NaN,NaN,97.1,934.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=8...,2022-01-31,3166,48,41,1.181479,0,48041010358,2,10358,79938,2184.0,182.0,334.0,563.0,536.0,566.0,1466.0,1766.0,255.0,129.0,81.0,171.0,106.0,83.0,90.0,88.0,63.0,105.0,148.0,180.0,75.0,78.0,57.0,85.0,2062.0,1766.0,296.0,902.0,2148.0,110.0,350.0,565.0,617.0,271.0,51.0,105.0,40.0,16.0,20.0,42.0,35.0,3711.888889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23894,23894,104_992,104,Knoxville,1.0,Knoxville - Downtown,Knox,Marble Alley Lofts,NaN,300 State Street,Knoxville,TN,37902.0,35.967200,-83.917880,8.655441e+09,248,191472.0,4.73,A,B-,Completed,NaN,2014-10-01,2014-12-01,2016-08-05,0.0,NaN,0.0,NaN,97.6,1620.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,2005,47,93,2.098270,2,47093000100,3,100,37902,1865.0,123.0,380.0,211.0,603.0,548.0,626.0,1603.0,271.0,130.0,126.0,78.0,69.0,82.0,54.0,73.0,34.0,89.0,106.0,161.0,92.0,75.0,83.0,80.0,1837.0,1603.0,234.0,929.0,1387.0,40.0,299.0,227.0,240.0,190.0,160.0,72.0,32.0,32.0,84.0,0.0,11.0,2907.000000
23895,23895,116_10,116,New Orleans,4.0,French Quarter,Orleans Parish,"Paramount, The",NaN,611 O'Keefe Avenue,New Orleans,LA,70113.0,29.948683,-90.074981,5.043248e+09,209,190509.0,2.05,A,B-,Completed,NaN,NaN,NaN,2014-09-01,1.0,"Includes 23,000 Square Feet of Retail",NaN,NaN,83.7,2226.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,2709,22,71,2.442058,9,22071013400,2,13400,70113,2771.0,226.0,451.0,425.0,1002.0,667.0,613.0,2067.0,231.0,187.0,70.0,56.0,33.0,31.0,39.0,64.0,90.0,107.0,130.0,261.0,237.0,81.0,138.0,312.0,3247.0,2067.0,1180.0,1465.0,1776.0,120.0,345.0,528.0,283.0,182.0,99.0,55.0,56.0,30.0,22.0,43.0,13.0,4351.000000
23896,23896,116_102,116,New Orleans,19.0,New Orleans East,Orleans Parish,Orwood Creek,Carriage House,10151 Curran Road,New Orleans,LA,70127.0,30.047655,-89.980910,5.045259e+09,216,172320.0,4.70,C,C+,Completed,NaN,NaN,NaN,1965-01-01,0.0,NaN,NaN,NaN,94.9,666.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,20849,22,71,0.834819,0,22071001737,0,1737,70127,2158.0,297.0,696.0,773.0,245.0,147.0,1063.0,1417.0,332.0,88.0,114.0,128.0,122.0,47.0,102.0,88.0,10.0,96.0,196.0,70.0,24.0,0.0,0.0,0.0,1545.0,1417.0,128.0,918.0,1390.0,11.0,15.0,136.0,61.0,244.0,140.0,396.0,102.0,67.0,99.0,105.0,14.0,3647.000000
23897,23897,116_110,116,New Orleans,16.0,Algiers,Orleans Parish,Jackson's Landing North,Newport,3501 Garden Oaks Drive,New Orleans,LA,70114.0,29.920149,-90.023146,5.043630e+09,272,220646.0,8.89,C+,C,Completed,NaN,NaN,NaN,1978-01-01,0.0,NaN,NaN,NaN,80.1,735.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,16101,22,71,0.906067,0,22071000619,1,619,70114,1598.0,172.0,401.0,447.0,347.0,229.0,598.0,1023.0,161.0,93.0,65.0,58.0,50.0,38.0,33.0,36.0,39.0,73.0,87.0,98.0,66.0,39.0,52.0,72.0,1363.0,1023.0,340.0,743.0,1010.0,40.0,95.0,163.0,160.0,159.0,72.0,151.0,42.0,33.0,49.0,42.0,26.0,2123.000000
23898,23898,116_117,116,New Orleans,11.0,Metairie,Jefferson Parish,Crossings,NaN,2200 Severn Avenue,Metairie,LA,70001.0,29.993633,-90.160258,5.048373e+09,249,199534.0,5.71,C+,C+,Completed,NaN,NaN,NaN,1974-01-01,0.0,NaN,NaN,NaN,98.0,1182.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2022-01-31,17562,22,51,1.475027,2,22051028800,3,28800,70001,2552.0,340.0,704.0,703.0,461.0,343.0,957.0,1605.0,106.0,84.0,83.0,95.0,103.0,97.0,86.0,82.0,62.0,170.0,129.0,210.0,113.0,76.0,69.0,63.0,1797.0,1605.0,192.0,964.0,1845.0,55.0,156.0,248.0,366.0,406.0,106.0,246.0,61.0,44.0,81.0,54.0,49.0,3963.000000

In [ ]:
# Converting the columns for Education, Household Income, Occupied/Vacant Units, Time to Travel to percentages. Note: Titles of columns are still unchanged. 

col_population = [
             'Total pop < high school',
             'Total pop high school graduate',
             'Total pop w/ some college or associates',
             'Total pop w/ bachelors',
             'Total pop w/ grad degree',]

for i in col_population:
  df_combined_ungrouped[i] = df_combined_ungrouped[i]/df_combined_ungrouped['Total pop in education data']

col_household_income = [
              'Total with household income <$10k',
             'Total with household income $10-15k',
             'Total with household income $15-20k',
             'Total with household income $20-25k',
             'Total with household income $25-30k',
             'Total with household income $30-35k',
             'Total with household income $35-40k',
             'Total with household income $40-45k',
             'Total with household income $45-50k',
             'Total with household income $50-60k',
             'Total with household income $60-75k',
             'Total with household income $75-100k',
             'Total with household income $100-125k',
             'Total with household income $125-150k',
             'Total with household income $150-200k',
             'Total with household income $200k+'
]

for i in col_household_income:
  df_combined_ungrouped[i] = df_combined_ungrouped[i]/df_combined_ungrouped['Total number of households in household income data']


# for occupied units
df_combined_ungrouped['Total occupied units'] = df_combined_ungrouped['Total occupied units']/df_combined_ungrouped['Total housing units']

col_traveltime = [
              'Travel time to work: <5 min',
             'Travel time to work: 5-9 min',
             'Travel time to work: 10-14 min',
             'Travel time to work: 15-19 min',
             'Travel time to work: 20-24 min',
             'Travel time to work: 25-29 min',
             'Travel time to work: 30-34 min',
             'Travel time to work: 35-39 min',
             'Travel time to work: 40-44 min',
             'Travel time to work: 45-59 min',
             'Travel time to work: 60-89 min',
             'Travel time to work: 90+ min',
]

for i in col_traveltime:
  df_combined_ungrouped[i] = df_combined_ungrouped[i]/df_combined_ungrouped['Total # people in travel time to work data']

In [ ]:
# converting this women birthed column to as a percentage of the tract population to "standardize"

df_combined_ungrouped['Total women 15 TO 50y who birthed in last 12m'] = df_combined_ungrouped['Total women 15 TO 50y who birthed in last 12m'] / df_combined_grouped['total_population']

In [ ]:
# get rid of non-percentage columns that are unnecessary

df_combined_ungrouped_final = df_combined_ungrouped.loc[:, ~df_combined_ungrouped.columns.isin(['Total pop in education data', 
                                                                                          'Total number of households in household income data', 
                                                                                          'Total housing units', 
                                                                                          'Total vacant units',
                                                                                          'Total # people in travel time to work data',
                                                                                          'MARKETID', 'MARKET_NAME',
                                                                                          'SUBMARKET_CODE', 'SUBMARKET_NAME', 'COUNTY_NAME', 'PROPERTY_NAME',
                                                                                          'PROPERTY_PRIORNAMES', 'PROPERTY_ADDRESS', 'PROPERTY_CITY',
                                                                                          'PROPERTY_STATE', 'PROPERTY_PHONE', 'PROPERTY_UNITS',
                                                                                          'PROPERTY_IMPRATING', 'PROPERTY_ZIPCODE',
                                                                                          'PROPERTY_LOCRATING', 'PROPERTY_STATUS', 'PROPERTY_DATE_PLANNED',
                                                                                          'PROPERTY_DATE_UNDERCONSTRUCTION', 'PROPERTY_DATE_RENTUP',
                                                                                          'PROPERTY_DATECOMPLETED', 'PROPERTY_MIXEDUSE',
                                                                                          'PROPERTY_MIXEDUSE_NOTES', 'PROPERTY_ADAPTIVEREUSE',
                                                                                          'PROPERTY_SINGLEFAMILYRENTAL', 'PROPERTY_CURRENT_OCCUPANCY',
                                                                                          'PROPERTY_CURRENT_RENT', 'PROPERTY_MATRIX_URL', 'today',])]

In [ ]:
df_combined_ungrouped_final

,Unnamed: 0,PROPERTY_ID,PROPERTY_LATITUDE,PROPERTY_LONGITUDE,PROPERTY_SQFT,PROPERTY_ACRES,age_of_the_property,state_code,county_code,rent_per_sqft,starbucks_within_om,census_tract_id,target_within_tm,census_tract,zip code,Total pop < high school,Total pop high school graduate,Total pop w/ some college or associates,Total pop w/ bachelors,Total pop w/ grad degree,Total women 15 TO 50y who birthed in last 12m,Total with household income <$10k,Total with household income $10-15k,Total with household income $15-20k,Total with household income $20-25k,Total with household income $25-30k,Total with household income $30-35k,Total with household income $35-40k,Total with household income $40-45k,Total with household income $45-50k,Total with household income $50-60k,Total with household income $60-75k,Total with household income $75-100k,Total with household income $100-125k,Total with household income $125-150k,Total with household income $150-200k,Total with household income $200k+,Total occupied units,Median gross rent,Travel time to work: <5 min,Travel time to work: 5-9 min,Travel time to work: 10-14 min,Travel time to work: 15-19 min,Travel time to work: 20-24 min,Travel time to work: 25-29 min,Travel time to work: 30-34 min,Travel time to work: 35-39 min,Travel time to work: 40-44 min,Travel time to work: 45-59 min,Travel time to work: 60-89 min,Travel time to work: 90+ min,total_population
0,0,89_328,31.829729,-106.525397,131836.0,6.93,20484,48,41,1.126551,1,48041001110,2,1110,79912,0.083333,0.152930,0.257784,0.245421,0.259158,0.394947,0.144394,0.073046,0.045866,0.096829,0.060023,0.046999,0.050963,0.049830,0.035674,0.059456,0.083805,0.101925,0.042469,0.044168,0.032276,0.048131,0.856450,902.0,0.051210,0.162942,0.263035,0.287244,0.126164,0.023743,0.048883,0.018622,0.007449,0.009311,0.019553,0.016294,3711.888889
1,1,89_356,31.811390,-106.508570,132688.0,8.93,17562,48,41,0.939346,0,48041001111,2,1111,79912,0.083333,0.152930,0.257784,0.245421,0.259158,0.394947,0.144394,0.073046,0.045866,0.096829,0.060023,0.046999,0.050963,0.049830,0.035674,0.059456,0.083805,0.101925,0.042469,0.044168,0.032276,0.048131,0.856450,902.0,0.051210,0.162942,0.263035,0.287244,0.126164,0.023743,0.048883,0.018622,0.007449,0.009311,0.019553,0.016294,3711.888889
2,2,89_357,31.781474,-106.339508,205780.0,10.01,18658,48,41,0.750316,0,48041004311,3,4311,79925,0.083333,0.152930,0.257784,0.245421,0.259158,0.394947,0.144394,0.073046,0.045866,0.096829,0.060023,0.046999,0.050963,0.049830,0.035674,0.059456,0.083805,0.101925,0.042469,0.044168,0.032276,0.048131,0.856450,902.0,0.051210,0.162942,0.263035,0.287244,0.126164,0.023743,0.048883,0.018622,0.007449,0.009311,0.019553,0.016294,3711.888889
3,3,89_37,31.886572,-106.407021,116480.0,7.21,5144,48,41,1.320055,0,48041000205,2,205,79924,0.083712,0.153030,0.257576,0.245455,0.259091,0.395007,0.144799,0.073102,0.045923,0.097001,0.059981,0.046860,0.051078,0.049672,0.035614,0.059513,0.083880,0.101687,0.042643,0.044049,0.032334,0.048266,0.855997,1090.0,0.051252,0.163006,0.263198,0.287091,0.126397,0.023892,0.048940,0.018882,0.007322,0.009249,0.019653,0.016570,4486.000000
4,4,89_374,31.821640,-106.243430,135972.0,11.54,3166,48,41,1.181479,0,48041010358,2,10358,79938,0.083333,0.152930,0.257784,0.245421,0.259158,0.394947,0.144394,0.073046,0.045866,0.096829,0.060023,0.046999,0.050963,0.049830,0.035674,0.059456,0.083805,0.101925,0.042469,0.044168,0.032276,0.048131,0.856450,902.0,0.051210,0.162942,0.263035,0.287244,0.126164,0.023743,0.048883,0.018622,0.007449,0.009311,0.019553,0.016294,3711.888889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23894,23894,104_992,35.967200,-83.917880,191472.0,4.73,2005,47,93,2.098270,2,47093000100,3,100,37902,0.065952,0.203753,0.113137,0.323324,0.293834,0.215342,0.169058,0.081098,0.078603,0.048659,0.043044,0.051154,0.033687,0.045540,0.021210,0.055521,0.066126,0.100437,0.057392,0.046787,0.051778,0.049906,0.872618,929.0,0.028839,0.215573,0.163663,0.173035,0.136986,0.115357,0.051911,0.023071,0.023071,0.060562,0.000000,0.007931,2907.000000
23895,23895,116_10,29.948683,-90.074981,190509.0,2.05,2709,22,71,2.442058,9,22071013400,2,13400,70113,0.081559,0.162757,0.153374,0.361602,0.240707,0.140887,0.111756,0.090469,0.033866,0.027092,0.015965,0.014998,0.018868,0.030963,0.043541,0.051766,0.062893,0.126270,0.114659,0.039187,0.066763,0.150943,0.636588,1465.0,0.067568,0.194257,0.297297,0.159347,0.102477,0.055743,0.030968,0.031532,0.016892,0.012387,0.024212,0.007320,4351.000000
23896,23896,116_102,30.047655,-89.980910,172320.0,4.70,20849,22,71,0.834819,0,22071001737,0,1737,70127,0.137627,0.322521,0.358202,0.113531,0.068119,0.291472,0.234298,0.062103,0.080452,0.090332,0.086097,0.033169,0.071983,0.062103,0.007057,0.067749,0.138320,0.049400,0.016937,0.000000,0.000000,0.000000,0.917152,918.0,0.007914,0.010791,0.097842,0.043885,0.175540,0.100719,0.284892,0.073381,0.048201,0.071223,0.075540,0.010072,3647.000000
23897,23897,116_110,29.920149,-90.023146,220646.0,8.89,16101,22,71,0.906067,0,22071000619,1,619,70114,0.107635,0.250939,0.279725,0.217146,0.143304,0.281677,0.157380,0.090909,0.063539,0.056696,0.048876,0.037146,0.032258,0.035191,0.038123,0.071359,0.085044,0.095797,0.064516,0.038123,0.050831,0.070381,0.750550,743.0,0.039604,0.094059,0.161386,0.158416,0.157426,0.071287,0.149505,0.041584,0.032673,0.048515,0.041584,0.025743,2123.000000
23898,23898,116_117,29.993633,-90.160258,199534.0,5.71,17562,22,51,1.475027,2,22051028800,3,28800,70001,0.133229,0.275862,0.275470,0.180643,0.134404,0.241484,0.066044,0.052336,0.051713,0.059190,0.064174,0.060436,0.053583,0.051090,0.038629,0.105919,0.080374,0.130841,0.070405,0.047352,0.042991,0.039252,0.893155,964.0,0.029810,0.084553,0.134417,0.198374,0.220054,0.057453,0.133333,0.033062,0.023848,0.043902,0.029268,0.026558,3963.000000

In [ ]:
df_future_supply_grouped = df_future_supply.groupby("census_tract_id").size().reset_index(name='counts')
df_future_supply_grouped.dtypes
df_combined_ungrouped_final['census_tract_id'] = df_combined_ungrouped_final['census_tract_id'].astype(object)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df_combined_ungrouped_final = df_combined_ungrouped_final.merge(df_future_supply_grouped, how="left", on="census_tract_id")
df_combined_ungrouped_final['competitors'] = df_combined_ungrouped_final['counts'].fillna(0)
df_combined_ungrouped_final = df_combined_ungrouped_final.drop(["counts"], axis=1)
df_combined_ungrouped_final

,Unnamed: 0,PROPERTY_ID,PROPERTY_LATITUDE,PROPERTY_LONGITUDE,PROPERTY_SQFT,PROPERTY_ACRES,age_of_the_property,state_code,county_code,rent_per_sqft,starbucks_within_om,census_tract_id,target_within_tm,census_tract,zip code,Total pop < high school,Total pop high school graduate,Total pop w/ some college or associates,Total pop w/ bachelors,Total pop w/ grad degree,Total women 15 TO 50y who birthed in last 12m,Total with household income <$10k,Total with household income $10-15k,Total with household income $15-20k,Total with household income $20-25k,Total with household income $25-30k,Total with household income $30-35k,Total with household income $35-40k,Total with household income $40-45k,Total with household income $45-50k,Total with household income $50-60k,Total with household income $60-75k,Total with household income $75-100k,Total with household income $100-125k,Total with household income $125-150k,Total with household income $150-200k,Total with household income $200k+,Total occupied units,Median gross rent,Travel time to work: <5 min,Travel time to work: 5-9 min,Travel time to work: 10-14 min,Travel time to work: 15-19 min,Travel time to work: 20-24 min,Travel time to work: 25-29 min,Travel time to work: 30-34 min,Travel time to work: 35-39 min,Travel time to work: 40-44 min,Travel time to work: 45-59 min,Travel time to work: 60-89 min,Travel time to work: 90+ min,total_population,competitors
0,0,89_328,31.829729,-106.525397,131836.0,6.93,20484,48,41,1.126551,1,48041001110,2,1110,79912,0.083333,0.152930,0.257784,0.245421,0.259158,0.394947,0.144394,0.073046,0.045866,0.096829,0.060023,0.046999,0.050963,0.049830,0.035674,0.059456,0.083805,0.101925,0.042469,0.044168,0.032276,0.048131,0.856450,902.0,0.051210,0.162942,0.263035,0.287244,0.126164,0.023743,0.048883,0.018622,0.007449,0.009311,0.019553,0.016294,3711.888889,0.0
1,1,89_356,31.811390,-106.508570,132688.0,8.93,17562,48,41,0.939346,0,48041001111,2,1111,79912,0.083333,0.152930,0.257784,0.245421,0.259158,0.394947,0.144394,0.073046,0.045866,0.096829,0.060023,0.046999,0.050963,0.049830,0.035674,0.059456,0.083805,0.101925,0.042469,0.044168,0.032276,0.048131,0.856450,902.0,0.051210,0.162942,0.263035,0.287244,0.126164,0.023743,0.048883,0.018622,0.007449,0.009311,0.019553,0.016294,3711.888889,1.0
2,2,89_357,31.781474,-106.339508,205780.0,10.01,18658,48,41,0.750316,0,48041004311,3,4311,79925,0.083333,0.152930,0.257784,0.245421,0.259158,0.394947,0.144394,0.073046,0.045866,0.096829,0.060023,0.046999,0.050963,0.049830,0.035674,0.059456,0.083805,0.101925,0.042469,0.044168,0.032276,0.048131,0.856450,902.0,0.051210,0.162942,0.263035,0.287244,0.126164,0.023743,0.048883,0.018622,0.007449,0.009311,0.019553,0.016294,3711.888889,0.0
3,3,89_37,31.886572,-106.407021,116480.0,7.21,5144,48,41,1.320055,0,48041000205,2,205,79924,0.083712,0.153030,0.257576,0.245455,0.259091,0.395007,0.144799,0.073102,0.045923,0.097001,0.059981,0.046860,0.051078,0.049672,0.035614,0.059513,0.083880,0.101687,0.042643,0.044049,0.032334,0.048266,0.855997,1090.0,0.051252,0.163006,0.263198,0.287091,0.126397,0.023892,0.048940,0.018882,0.007322,0.009249,0.019653,0.016570,4486.000000,0.0
4,4,89_374,31.821640,-106.243430,135972.0,11.54,3166,48,41,1.181479,0,48041010358,2,10358,79938,0.083333,0.152930,0.257784,0.245421,0.259158,0.394947,0.144394,0.073046,0.045866,0.096829,0.060023,0.046999,0.050963,0.049830,0.035674,0.059456,0.083805,0.101925,0.042469,0.044168,0.032276,0.048131,0.856450,902.0,0.051210,0.162942,0.263035,0.287244,0.126164,0.023743,0.048883,0.018622,0.007449,0.009311,0.019553,0.016294,3711.888889,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23894,23894,104_992,35.967200,-83.917880,191472.0,4.73,2005,47,93,2.098270,2,47093000100,3,100,37902,0.065952,0.203753,0.113137,0.323324,0.293834,0.215342,0.169058,0.081098,0.078603,0.048659,0.043044,0.051154,0.033687,0.045540,0.021210,0.055521,0.066126,0.100437,0.057392,0.046787,0.051778,0.049906,0.872618,929.0,0.028839,0.215573,0.163663,0.173035,0.136986,0.115357,0.051911,0.023071,0.023071,0.060562,0.000000,0.007931,2907.000000,3.0
23895,23895,116_10,29.948683,-90.074981,190509.0,2.05,2709,22,71,2.442058,9,22071013400,2,13400,70113,0.081559,0.162757,0.153374,0.361602,0.240707,0.140887,0.111756,0.090469,0.033866,0.027092,0.015965,0.014998,0.018868,0.030963,0.043541,0.051766,0.062893,0.126270,0.114659,0.039187,0.066763,0.150943,0.636588,1465.0,0.067568,0.194257,0.297297,0.159347,0.102477,0.055743,0.030968,0.031532,0.016892,0.012387,0.024212,0.007320,4351.000000,1.0
23896,23896,116_102,30.047655,-89.980910,172320.0,4.70,20849,22,71,0.834819,0,22071001737,0,1737,70127,0.137627,0.322521,0.358202,0.113531,0.068119,0.291472,0.234298,0.062103,0.080452,0.090332,0.086097,0.033169,0.071983,0.062103,0.007057,0.067749,0.138320,0.049400,0.016937,0.000000,0.000000,0.000000,0.917152,918.0,0.007914,0.010791,0.097842,0.043885,0.175540,0.100719,0.284892,0.073381,0.048201,0.071223,0.075540,0.010072,3647.000000,0.0
23897,23897,116_110,29.920149,-90.023146,220646.0,8.89,16101,22,71,0.906067,0,22071000619,1,619,70114,0.107635,0.250939,0.279725,0.217146,0.143304,0.281677,0.157380,0.090909,0.063539,0.056696,0.048876,0.037146,0.032258,0.035191,0.038123,0.071359,0.085044,0.095797,0.064516,0.038123,0.050831,0.070381,0.750550,743.0,0.039604,0.094059,0.161386,0.158416,0.157426,0.071287,0.149505,0.041584,0.032673,0.048515,0.041584,0.025743,2123.000000,0.0
23898,23898,116_117,29.993633,-90.160258,199534.0,5.71,17562,22,51,1.475027,2,22051028800,3,28800,70001,0.133229,0.275862,0.275470,0.180643,0.134404,0.241484,0.066044,0.052336,0.051713,0.059190,0.064174,0.060436,0.053583,0.051090,0.038629,0.105919,0.080374,0.130841,0.070405,0.047352,0.042991,0.039252,0.893155,964.0,0.029810,0.084553,0.134417,0.198374,0.220054,0.057453,0.133333,0.033062,0.023848,0.043902,0.029268,0.026558,3963.000000,0.0

In [ ]:
# Not final dataset yet, has NaN values (see below)

df_combined_ungrouped_final.isna().sum()

Unnamed: 0                                       0
PROPERTY_ID                                      0
PROPERTY_LATITUDE                                0
PROPERTY_LONGITUDE                               0
PROPERTY_SQFT                                    0
PROPERTY_ACRES                                   7
age_of_the_property                              0
state_code                                       0
county_code                                      0
rent_per_sqft                                    0
starbucks_within_om                              0
census_tract_id                                  0
target_within_tm                                 0
census_tract                                     0
zip code                                         0
Total pop < high school                          3
Total pop high school graduate                   3
Total pop w/ some college or associates          3
Total pop w/ bachelors                           3
Total pop w/ grad degree                         3
Total women 15 TO 50y who birthed in last 12m    0
Total with household income <$10k                3
Total with household income $10-15k              3
Total with household income $15-20k              3
Total with household income $20-25k              3
Total with household income $25-30k              3
Total with household income $30-35k              3
Total with household income $35-40k              3
Total with household income $40-45k              3
Total with household income $45-50k              3
Total with household income $50-60k              3
Total with household income $60-75k              3
Total with household income $75-100k             3
Total with household income $100-125k            3
Total with household income $125-150k            3
Total with household income $150-200k            3
Total with household income $200k+               3
Total occupied units                             1
Median gross rent                                0
Travel time to work: <5 min                      3
Travel time to work: 5-9 min                     3
Travel time to work: 10-14 min                   3
Travel time to work: 15-19 min                   3
Travel time to work: 20-24 min                   3
Travel time to work: 25-29 min                   3
Travel time to work: 30-34 min                   3
Travel time to work: 35-39 min                   3
Travel time to work: 40-44 min                   3
Travel time to work: 45-59 min                   3
Travel time to work: 60-89 min                   3
Travel time to work: 90+ min                     3
total_population                                 0
competitors                                      0
dtype: int64

In [ ]:
# investigate 2 NaNs

is_NaN = df_combined_ungrouped_final.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df_combined_ungrouped_final[row_has_NaN]

rows_with_NaN.index

# discovered that rows with index 2699 and 9905 are the rows with NaNs

Int64Index([2413, 2747, 3087, 5149, 6129, 13455, 17394, 17451, 18332, 22366], dtype='int64')

In [ ]:
# Solution: drop the rows

# Final Dataset 3/20/22

df_combined_ungrouped_final = df_combined_ungrouped_final.drop(index=[2413, 2747, 3087, 5149, 6129, 13455, 17394, 17451, 18332, 22366])

In [ ]:
# Verify no more NaNs

df_combined_ungrouped_final.isna().sum()

Unnamed: 0                                       0
PROPERTY_ID                                      0
PROPERTY_LATITUDE                                0
PROPERTY_LONGITUDE                               0
PROPERTY_SQFT                                    0
PROPERTY_ACRES                                   0
age_of_the_property                              0
state_code                                       0
county_code                                      0
rent_per_sqft                                    0
starbucks_within_om                              0
census_tract_id                                  0
target_within_tm                                 0
census_tract                                     0
zip code                                         0
Total pop < high school                          0
Total pop high school graduate                   0
Total pop w/ some college or associates          0
Total pop w/ bachelors                           0
Total pop w/ grad degree                         0
Total women 15 TO 50y who birthed in last 12m    0
Total with household income <$10k                0
Total with household income $10-15k              0
Total with household income $15-20k              0
Total with household income $20-25k              0
Total with household income $25-30k              0
Total with household income $30-35k              0
Total with household income $35-40k              0
Total with household income $40-45k              0
Total with household income $45-50k              0
Total with household income $50-60k              0
Total with household income $60-75k              0
Total with household income $75-100k             0
Total with household income $100-125k            0
Total with household income $125-150k            0
Total with household income $150-200k            0
Total with household income $200k+               0
Total occupied units                             0
Median gross rent                                0
Travel time to work: <5 min                      0
Travel time to work: 5-9 min                     0
Travel time to work: 10-14 min                   0
Travel time to work: 15-19 min                   0
Travel time to work: 20-24 min                   0
Travel time to work: 25-29 min                   0
Travel time to work: 30-34 min                   0
Travel time to work: 35-39 min                   0
Travel time to work: 40-44 min                   0
Travel time to work: 45-59 min                   0
Travel time to work: 60-89 min                   0
Travel time to work: 90+ min                     0
total_population                                 0
competitors                                      0
dtype: int64

In [ ]:
# 3/20/22

df_combined_ungrouped_final.to_csv ('df_combined_ungrouped_final.csv') 

from google.colab import files
files.download('df_combined_ungrouped_final.csv')

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Random Forest Modeling

In [ ]:
import numpy as np

df_combined_grouped = df_combined_ungrouped_final
target= np.array(df_combined_grouped['rent_per_sqft'])
features = df_combined_grouped.drop('rent_per_sqft', axis = 1)
feature_list = list(features.columns)
features = np.array(features)
X_train1, X_test1, y_train1, y_test1 = \
    train_test_split(features, target,
                     test_size=0.5,
                     random_state=2)

## RANDOM FOREST - KFOLD AND MODEL 


from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestRegressor

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train1, y_train1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train1, X_test1, y_train1, y_test1 = \
    train_test_split(features, target,
                     test_size=0.5,
                     random_state=2)

rf = RandomForestRegressor(n_estimators = 600, 
                            random_state = 42, 
                            criterion = 'mse',
                            min_samples_leaf = 4,
                            min_samples_split= 2,
                            max_features = 'auto',
                            bootstrap=True,
                            max_depth = 40)

rf.fit(X_train1, y_train1)

predictions = rf.predict(X_test1)

errors = abs(predictions - y_test1)

print('Mean Absolute Error:', round(np.mean(errors), 2))

mape = 100 * (errors / y_test1)
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

In [ ]:
col_names =  df_combined_grouped.drop('rent_per_sqft', axis = 1).columns
result_df = pd.DataFrame(X_test1,columns = col_names)
result_df['Predictions'] = np.array(predictions)
result_df['Actual'] = np.array(y_test1)
result_df['Difference'] = result_df['Actual'] - result_df.Predictions

result_df.head()

In [ ]:
#Find the feature importance
y = rf.feature_importances_
#y = np.sort(y)
list_y = [a for a in y if a > 0.01]
list_y = np.sort(list_y)
list_y = np.delete(list_y, 6)
print(list_y)

list_of_index = []
for i in list_y:
    a = np.where(y==i)
    list_of_index.append(a)
print(list_of_index)

In [ ]:
col = []
#list_of_index = [0,1,2,3,4,5,6,7,8,10,11,30,31,32,43]
list_of_index = [10,31,43,30,11,3,4,2,32,8,5,0,6,1]
for i in feature_list:
    col.append(i)
labels = []
for i in list_of_index:
    b = col[i]
    labels.append(b)
labels = ['% High School Gradute', '% Occupied Units', '% People Travel Time 60-89min', ' % Household income $200k+',
          '% Population with College or Associate', 'County Code', 'Starbucks within 1 mile', 'State Code',
          'Median Gross Rent', 'Zip Code', 'Census Tract ID', 'Property Acres', 'Target within 10 miles', 'Age of Property' ]

In [ ]:
import matplotlib.pyplot as plt
y = list_y
fig, ax = plt.subplots() 
width = 0.8
ind = np.arange(len(y)) 
ax.barh(ind, y,width, color="pink")
ax.set_yticks(ind+width/10)
ax.set_yticklabels(labels, minor=False)
plt.title('Feature importance in Random Forest Regression')
plt.xlabel('Relative importance')
plt.ylabel('feature') 
plt.figure(figsize=(10,8.5))
fig.set_size_inches(10, 8.5, forward=True)

In [ ]:
import geopy.distance
costco = pd.read_csv("Costco_USA_Canada.csv", encoding="Latin1")

In [ ]:
costco_latlong=costco[['costco_latitude','costco_longitude']]
costco_latlong.value_counts()

In [ ]:
#For Costco dataset
def locations_nearby(row):
  prop_lat, prop_long = row["PROPERTY_LATITUDE"],row["PROPERTY_LONGITUDE"]
  coords_1 = (prop_lat,prop_long)
  number = 0
  for index, row in costco_latlong.iterrows():
    costco_lat, costco_long = row["costco_longitude"], row["costco_latitude"]
    coords_2 = (costco_lat, costco_long)
    distance = geopy.distance.geodesic(coords_1, coords_2).mi
    if distance <= 10:
      number += 1
  return number
df_combined["costco_within_om"] = df_combined.apply(lambda row: locations_nearby(row), axis=1)

In [ ]:
df_combined

In [ ]:
# Opening shape file in geopandas
# rdf = gpd.GeoDataFrame(pd.concat(dataframesList, ignore_index=True), crs=dataframesList[0].crs)
with zipfile.ZipFile('Shapefiles.zip', 'r') as zip_ref:
    zip_ref.extractall("./")
region_names = [
                "El Paso",
                "Midland - Odessa",
                "Lubbock",
                "Austin",
                "Corpus Christi"
]
fp = "El Paso"
path = f"./Shapefiles/{fp}/{fp}.shp"
data = geopandas.read_file(path)
data.plot()

Edwin

In [ ]:
import pandas as pd
sb = pd.read_csv("starbucks_data.csv", encoding="Latin1")

In [ ]:
sb['countrysubdivisioncode'].value_counts()

In [ ]:
sb=sb.rename(columns={"lat": "SB_LATITUDE", "lon": "SB_LONGITUDE"})
sb=sb.drop(columns= ['id','street2','street3','postalcode','timezoneoffset','timezoneid', 'starbucksid',
                  'ownershiptype','storenumber','timezoneolsonid','source_longitude','source_latitude','geocoder','geoid'])

In [ ]:

sbnew = sb.loc[(sb['countrysubdivisioncode'] == 'TX')|
               (sb['countrysubdivisioncode'] == 'NM')|
               (sb['countrysubdivisioncode'] == 'OK')|
               (sb['countrysubdivisioncode'] == 'FL')|
               (sb['countrysubdivisioncode'] == 'AZ')|
               (sb['countrysubdivisioncode'] == 'CO')|
               (sb['countrysubdivisioncode'] == 'NV')|
               (sb['countrysubdivisioncode'] == 'UT')|
               (sb['countrysubdivisioncode'] == 'ID')|
              (sb['countrysubdivisioncode'] == 'WY')|
       (sb['countrysubdivisioncode'] == 'MT')|
       (sb['countrysubdivisioncode'] == 'GA')|
       (sb['countrysubdivisioncode'] == 'NC')|
       (sb['countrysubdivisioncode'] == 'SC')|
       (sb['countrysubdivisioncode'] == 'AL')|
       (sb['countrysubdivisioncode'] == 'AR')|
       (sb['countrysubdivisioncode'] == 'TN')|
       (sb['countrysubdivisioncode'] == 'KY')|
       (sb['countrysubdivisioncode'] == 'IN')|
       (sb['countrysubdivisioncode'] == 'LA')|
       (sb['countrysubdivisioncode'] == 'MS')
       ]

In [ ]:
sbnew

In [ ]:
sbnew['countrysubdivisioncode'].value_counts()

In [ ]:
sblatlon=sbnew[['SB_LATITUDE','SB_LONGITUDE']]
sblatlon

In [ ]:
df_combined[['PROPERTY_LATITUDE','PROPERTY_LONGITUDE']]

In [ ]:
from math import sin, cos, sqrt, atan2, radians, asin
import geopy.distance

In [ ]:
dfc = df_combined
latitude1 = sbnew["SB_LATITUDE"]
longitude1 = sbnew["SB_LONGITUDE"]
latitude2 = dfc["PROPERTY_LATITUDE"]
longitude2 = dfc["PROPERTY_LONGITUDE"]

In [ ]:
dfc = df_combined
latitude1 = sbnew["SB_LATITUDE"]
longitude1 = sbnew["SB_LONGITUDE"]
latitude2 = dfc["PROPERTY_LATITUDE"]
longitude2 = dfc["PROPERTY_LONGITUDE"]

In [ ]:
#####TRY THIS Hwan universal
def locations_nearby(lat1, lon1, lat2, lon2, mileswithin):
    for c, d in zip(lat2, lon2):
        for a, b in zip(lat1, lon1):
            number = 0
            coords_1 = (a,b)
            coords_2 = (c,d)
            distance = geopy.distance.geodesic(coords_1, coords_2).mi
            if distance <= mileswithin:
                number += 1
        dfc['Starbucks_nearby'] = number
    return dfc

In [ ]:
def locations_nearby(lat1, lon1, lat2, lon2, mileswithin):
    for c, d in zip(lat2, lon2):
        for a, b in zip(lat1, lon1):
            number = 0
            coords_1 = (a,b)
            coords_2 = (c,d)
            distance = geopy.distance.geodesic(coords_1, coords_2).mi
            if distance <= mileswithin:
                number += 1
        df_test['Starbucks_nearby'] = number
    return df_test['Starbucks_nearby']

In [ ]:
#testing
sb_test = sb.loc[(sb['countrysubdivisioncode'] == 'TN')]
df_test = df_combined.loc[(df_combined['PROPERTY_STATE'] == 'TN')] 
latitude_sbtest = sb_test["SB_LATITUDE"]
longitude_sbtest = sb_test["SB_LONGITUDE"]
latitude_dftest = df_test["PROPERTY_LATITUDE"]
longitude_dftest = df_test["PROPERTY_LONGITUDE"]

In [ ]:
sb_test = sb.loc[(sb['countrysubdivisioncode'] == 'TN')]
df_test = df_combined.loc[(df_combined['PROPERTY_STATE'] == 'TN')] 
latitude_sbtest = sb_test["SB_LATITUDE"]
longitude_sbtest = sb_test["SB_LONGITUDE"]
latitude_dftest = df_test["PROPERTY_LATITUDE"]
longitude_dftest = df_test["PROPERTY_LONGITUDE"]

In [ ]:
###### OR THIS just for starbucks data set 
def milesbetween_sb(lat1, lon1, lat2, lon2):
    for c, d in zip(lat2, lon2):
        for a, b in zip(lat1, lon1):
            number = 0
            coords_1 = (a,b)
            coords_2 = (c,d)
            distance = geopy.distance.geodesic(coords_1, coords_2).mi
            if distance <= 1:
                number += 1
        dfc['Starbucks_nearby'] = number
    return dfc

In [ ]:
dfc['Starbucks_nearby'].value_counts()

In [ ]:
milesbetween(latitude1,longitude1,latitude2,longitude2)
dfc['Starbucks_nearby'].value_counts()

In [ ]:
import geopy.distance

coords_1 = (33.98571142219786, -117.88376926272959)
coords_2 = (33.986927550699335, -117.87173099771651)

print (geopy.distance.geodesic(coords_1, coords_2).mi)